charts/n8n-workflows/v3.1/v3-events.template.json
{
  "name": "V3.1 BKD Events (Code-node router)",
  "nodes": [
    {
      "id": "wh",
      "name": "[ENTRY] Hook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "b02404e7-1027-4349-8cfa-705f7bcee7e7",
      "position": [
        200,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "bkd-events",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "init",
      "name": "[ENTRY] Init MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"initialize\",\"params\":{\"protocolVersion\":\"2025-03-26\",\"capabilities\":{},\"clientInfo\":{\"name\":\"n8n-v31\",\"version\":\"0.1\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "getissue",
      "name": "[ENTRY] Get Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":50,\"method\":\"tools/call\",\"params\":{\"name\":\"get-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Hook\"].json.body.projectId }}\",\"issueId\":\"{{ $node[\"[ENTRY] Hook\"].json.body.issueId }}\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $json.headers[\"mcp-session-id\"] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "ctx",
      "name": "[ENTRY] Ctx 提取",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse Init MCP + Get Issue responses into a flat ctx object consumed by Router.\nconst hookBody = $node['[ENTRY] Hook'].json.body || {};\nconst initHeaders = $node['[ENTRY] Init MCP'].json.headers || {};\nconst gi = $node['[ENTRY] Get Issue'].json;\n\nconst sid = initHeaders['mcp-session-id'] || '';\n\nfunction parseSse(raw) {\n  if (!raw) return null;\n  const s = typeof raw === 'string' ? raw : String(raw.data || raw.body || raw);\n  const m = s.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\n  if (!m) return null;\n  try { return JSON.parse(m[1]); } catch { return null; }\n}\nfunction extractIssue(sseText) {\n  const env = parseSse(sseText);\n  if (!env || !env.result) return null;\n  const c = Array.isArray(env.result.content) ? env.result.content[0] : null;\n  if (!c || typeof c.text !== 'string') return env.result;\n  try { return JSON.parse(c.text); } catch { return null; }\n}\n\nconst issue = extractIssue(gi && (gi.data || gi.body || gi)) || {};\nconst tags = Array.isArray(issue.tags) ? issue.tags : (Array.isArray(hookBody.tags) ? hookBody.tags : []);\nconst priorStatusId = issue.statusId || hookBody.priorStatusId || null;\nconst title = hookBody.title || issue.title || '';\nconst event = hookBody.event || 'session.completed';\nconst issueId = hookBody.issueId || issue.id || '';\n\n// Parse `## CI Result` block from issue description so Router can diagnose CI failures.\n// ci-runner appends this block via follow-up-issue; BKD stores it on issue.description.\nfunction parseCiResult(desc) {\n  const s = typeof desc === 'string' ? desc : '';\n  const m = s.match(/##\\s*CI Result\\s*([\\s\\S]+?)(?=\\n##\\s|\\n\\s*$|$)/);\n  if (!m) return null;\n  const body = m[1];\n  const pick = (k) => (body.match(new RegExp('^\\\\s*' + k + '\\\\s*:\\\\s*(.*?)\\\\s*$', 'm')) || [])[1] || null;\n  const failedTests = [];\n  const ft = body.match(/failed_tests\\s*:\\s*\\n([\\s\\S]*?)(?=\\n[a-z_]+:|$)/);\n  if (ft) {\n    for (const line of ft[1].split('\\n')) {\n      const mm = line.match(/^\\s*-\\s+(.+?)\\s*$/);\n      if (mm) failedTests.push(mm[1]);\n    }\n  }\n  const tail = body.match(/stderr_tail\\s*:\\s*\\|\\s*\\n([\\s\\S]+)$/);\n  return {\n    target: pick('target'),\n    exitCode: pick('exit_code') === null ? null : parseInt(pick('exit_code'), 10),\n    failedTests,\n    stderrTail: tail ? tail[1].replace(/^\\s{0,4}/gm, '') : '',\n  };\n}\n// Harness/backdoor: allow webhook body to inject _ciResult directly (tests).\nconst _ciResult = (hookBody && hookBody._ciResult && typeof hookBody._ciResult === 'object')\n  ? hookBody._ciResult\n  : parseCiResult(issue.description);\n\n// Dedup by (timestamp + issueId + event [+ executionId]).\n// 观察：BKD 的 executionId 不是 session-unique（同 issue 多次 session 复用同一 UUID），\n// 只是 issue-level 标识。真正唯一的是 timestamp（毫秒精度）。同一事件 BKD 重投递会带\n// 完全相同的 timestamp+executionId。合法重发（agent 再跑）timestamp 不同。\nconst eventId = (hookBody.timestamp || '') + '|' + issueId + '|' + event\n              + (hookBody.executionId ? '|' + hookBody.executionId : '');\nconst staticData = $getWorkflowStaticData('global');\nstaticData.seen = staticData.seen || {};\nconst dedupSkip = !!staticData.seen[eventId];\nif (!dedupSkip) {\n  staticData.seen[eventId] = Date.now();\n  // Cap at 5000 entries to bound memory; evict oldest 500 on overflow.\n  const keys = Object.keys(staticData.seen);\n  if (keys.length > 5000) {\n    keys.sort((a, b) => staticData.seen[a] - staticData.seen[b])\n        .slice(0, 500)\n        .forEach(k => delete staticData.seen[k]);\n  }\n}\n\nreturn [{ json: {\n  sid,\n  event,\n  issueId,\n  projectId: hookBody.projectId || issue.projectId || '',\n  title,\n  tags,\n  priorStatusId,\n  metadata: hookBody.metadata || {},\n  _dedupSkip: !!dedupSkip,\n  _dedupKey: eventId,\n  _ciResult,\n}}];\n"
      }
    },
    {
      "id": "wh_intent",
      "name": "[ENTRY intent] Hook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "c02404e7-1027-4349-8cfa-705f7bcee7e8",
      "position": [
        200,
        440
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "bkd-issue-updated",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "init_intent",
      "name": "[ENTRY intent] Init MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"initialize\",\"params\":{\"protocolVersion\":\"2025-03-26\",\"capabilities\":{},\"clientInfo\":{\"name\":\"n8n-v31-intent\",\"version\":\"0.1\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "ctx_intent",
      "name": "[ENTRY intent] Ctx",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        440
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Intent entry: BKD issue.updated webhook with changes.tag containing intent:analyze.\n// Emits the same ctx shape as [ENTRY] Ctx 提取 so Router handles both uniformly.\nconst hookBody = $node['[ENTRY intent] Hook'].json.body || {};\nconst initHeaders = $node['[ENTRY intent] Init MCP'].json.headers || {};\nconst sid = initHeaders['mcp-session-id'] || '';\n\n// changes.tag is a JSON-stringified array of the NEW tag list after update\nlet tags = [];\ntry {\n  if (typeof hookBody?.changes?.tag === 'string') {\n    tags = JSON.parse(hookBody.changes.tag);\n  } else if (Array.isArray(hookBody?.changes?.tag)) {\n    tags = hookBody.changes.tag;\n  } else if (Array.isArray(hookBody.tags)) {\n    tags = hookBody.tags;\n  }\n} catch {}\n\nconst issueId = hookBody.issueId || hookBody.id || '';\nconst projectId = hookBody.projectId || '';\nconst issueNumber = hookBody.issueNumber || hookBody.number || null;\n// Strip previously-applied [REQ-xxx] [STAGE] prefixes to get the clean title.\n// Prevents title stacking on retries (e.g. user removes `analyze` and re-adds `intent:analyze`).\nconst rawTitle = hookBody.title || '';\nconst strippedTitle = rawTitle.replace(/^(\\s*\\[REQ-[\\w-]+\\]\\s*\\[[^\\]]+\\]\\s*)+/, '').trim() || rawTitle;\n// JSON-escape so downstream jsonBody interpolation stays valid even when title contains `\"` or `\\`\nconst originalTitle = JSON.stringify(strippedTitle).slice(1, -1);\n// reqId: use existing REQ-xxx tag or generate from issueNumber\nconst existingReq = tags.find(t => /^REQ-[\\w-]+$/.test(t));\nconst reqId = existingReq || (issueNumber ? `REQ-${issueNumber}` : null);\n\nreturn [{ json: {\n  sid,\n  event: 'issue.updated',\n  issueId,\n  projectId,\n  issueNumber,\n  originalTitle,\n  title: originalTitle,\n  reqId,\n  tags,\n  priorStatusId: hookBody.priorStatusId || hookBody.statusId || null,\n  metadata: hookBody.metadata || {}\n}}];\n"
      }
    },
    {
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        320
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "{{ROUTER_JS}}"
      }
    },
    {
      "id": "switch",
      "name": "Dispatch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1400,
        320
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip"
                  }
                ]
              },
              "outputKey": "skip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "start_analyze"
                  }
                ]
              },
              "outputKey": "start_analyze"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_ci_runner"
                  }
                ]
              },
              "outputKey": "create_ci_runner"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "comment_back"
                  }
                ]
              },
              "outputKey": "comment_back"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_bugfix"
                  }
                ]
              },
              "outputKey": "create_bugfix"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_test_fix"
                  }
                ]
              },
              "outputKey": "create_test_fix"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_reviewer"
                  }
                ]
              },
              "outputKey": "create_reviewer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_accept"
                  }
                ]
              },
              "outputKey": "create_accept"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "open_github_issue"
                  }
                ]
              },
              "outputKey": "open_github_issue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "done_archive"
                  }
                ]
              },
              "outputKey": "done_archive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "fanout_specs"
                  }
                ]
              },
              "outputKey": "fanout_specs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mark_spec_reviewed"
                  }
                ]
              },
              "outputKey": "mark_spec_reviewed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "escalate"
                  }
                ]
              },
              "outputKey": "escalate"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "other"
        }
      }
    },
    {
      "id": "a_skip",
      "name": "[A] skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        2780
      ],
      "parameters": {}
    },
    {
      "id": "anz_upd",
      "name": "[ANZ] Update title+tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":90,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.params.issueId }}\",\"title\":\"[{{ $json.params.reqId }}] [ANALYZE] {{ $json.params.originalTitle }}\",\"tags\":[\"analyze\",\"{{ $json.params.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $('Router').first().json._input.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        },
        "onError": "continueErrorOutput"
      }
    },
    {
      "id": "anz_fu",
      "name": "[ANZ] Send analyze prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":91,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $('Router').first().json.params.issueId }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## 需求分析 (ANALYZE)\\nAGENT_ROLE=analyze-agent\\nREQ={{ $('Router').first().json.params.reqId }}\\nREPO_URL={{ $('Router').first().json.params.repoUrl }}\\n\\n## 职责：需求拆解 + 立框架\\n- 看清需求要改什么 / 怎么改 / 联动哪些仓库\\n- 定高层方案（选型、取舍、风险）\\n- **立 tasks.md 骨架**（三个 Stage section，section 下只列 TODO checkbox，不填细节）\\n\\n## 产出（严格对齐 openspec 规范，不自创文件）\\n1. `openspec/changes/$REQ/proposal.md`\\n   - 一句话需求 + 用户价值\\n   - **影响范围**：改哪些模块 / 文件 / 仓库（写清楚）\\n   - 支持性判定：支持 / 不支持 / 需澄清\\n   - frontmatter 写 `repos: [ubox-crosser]`（单仓）或 `[repoA, repoB]`（多仓）\\n\\n2. `openspec/changes/$REQ/design.md`（可选但建议）\\n   - 高层方案、选型、依赖、风险\\n   - **不**写具体 OpenAPI / SQL / UI 代码\\n\\n3. `openspec/changes/$REQ/tasks.md` —— 只立骨架，三个 Stage section:\\n```markdown\\n## Stage: contract-tests (owner: contract-test-agent)\\n- [ ] TODO: 列出要覆盖的 API/DB/UI 契约点\\n\\n## Stage: acceptance-tests (owner: accept-test-agent)\\n- [ ] TODO: 列出要验的用户行为\\n\\n## Stage: implementation (owner: dev-agent)\\n- [ ] TODO: 列出要实现的模块\\n```\\n每条 checkbox 只写粗粒度 TODO，**不**填细节。下游对应 agent 会替换为具体任务。\\n\\n## 禁止越权（pre-commit ACL 会拦）\\n- 不要写 `contract.spec.yaml`（contract-test-agent 的活）\\n- 不要写 `openspec/changes/$REQ/specs/**`（下游 agent 的活）\\n- 不要写 `tests/**`（下游 test-agent 或 dev-agent 的活）\\n- 不要填 tasks.md 里具体任务内容（只立 section + TODO 框）\\n\\n## 完成时\\n- 3 个文件 commit + push 到 feat/$REQ\\n- update-issue tags（保留 analyze + $REQ）追加：\\n  - `repo:<name>`（proposal.md 里每个 repo 一个 tag）\\n  - 不支持：`decision:unsupported`；需澄清：`decision:needs-clarify`\\n- move review\\n\\nn8n 收到 session.completed 后 fan-out 2 个 test-agent：contract-test + accept-test。\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $('Router').first().json._input.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "anz_trg",
      "name": "[ANZ] Trigger agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":92,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $('Router').first().json.params.issueId }}\",\"statusId\":\"working\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $('Router').first().json._input.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "ci_cr",
      "name": "[CI] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":10,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.params.reqId }}] [CI {{ $json.params.target }}] self-check {{ $json.params.parentStage }}\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"ci\",\"{{ $json.params.reqId }}\",\"target:{{ $json.params.target }}\",\"parent:{{ $json.params.parentStage }}\",\"parent-id:{{ $json.params.parentIssueId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "ci_id",
      "name": "[CI] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1160
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[CI] Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['Router'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "ci_fu",
      "name": "[CI] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        1160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":11,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## CI 核验 (CI-RUNNER)\\nAGENT_ROLE=ci-runner-agent\\nREQ={{ $json.params.reqId }}\\nTARGET={{ $json.params.target }}\\nBRANCH={{ $json.params.branch }}\\nWORKDIR={{ $json.params.workdir }}\\nREPO_URL={{ $json.params.repoUrl }}\\nPARENT_ISSUE={{ $json.params.parentIssueId }}  # 只用于参考,禁止对它 update\\nPARENT_STAGE={{ $json.params.parentStage }}\\n\\n## 硬约束\\n1. 所有命令只能通过 mcp__aissh-tao__exec_run 在 vm-node04 上执行。禁止本地 Bash。\\n2. 每条 exec_run 命令必须以 cd $WORKDIR 开头。禁止 cd 到 $WORKDIR 之外。\\n3. 禁改 repo 任何文件 (pre-commit ACL 会拦)。\\n4. **update-issue 时 issueId 必须是本 session 所在 issue (即你自己),绝不是 PARENT_ISSUE**。PARENT_ISSUE 只是上下文参考值。\\n5. tags 覆盖语义:update-issue 会替换 tags 整个数组。必须完整列出所有要保留的 tag (含 parent-id)。\\n6. stderr_tail 原样贴 make output 最后 50 行,不总结不翻译。\\n7. 失败不分析原因 —— 你是报告员不是诊断师。\\n\\n## 步骤\\nStep 1 bootstrap (一条 exec_run, bash -c 包起来):\\n  首次: git clone --branch $BRANCH $REPO_URL $WORKDIR\\n  已存在: cd $WORKDIR && git fetch origin && git reset --hard origin/$BRANCH\\n  两种情况幂等处理。\\n\\nStep 2 跑测试 (一条 exec_run):\\n  cd $WORKDIR && time BASE_REV=origin/master make ci-$TARGET 2>&1\\n  **BASE_REV=origin/master 让 make ci-lint 只检查本分支相对 master 新增的 lint 问题**,不被 baseline 污染。\\n  记录 exit_code / duration_ms / stderr 最后 50 行 / 失败测试名列表。\\n\\nStep 3 写结果 (对**本 issue**操作,不是 PARENT_ISSUE):\\n  A. mcp__bkd__follow-up-issue 把下面 block 追加到本 issue 正文:\\n\\n## CI Result\\ntarget: $TARGET\\nbranch: $BRANCH\\nworkdir: $WORKDIR\\ncommit: <cd $WORKDIR && git rev-parse --short HEAD>\\nexit_code: <0 或非 0>\\nduration_ms: <ms>\\ncoverage: <% 或空>\\nfailed_tests:\\n  - <name>\\nstderr_tail: |\\n  <原样最后 50 行>\\n\\n  B. mcp__bkd__update-issue 改**本 issue**的 tags (不是 PARENT_ISSUE)。tags 必须完整列:\\n     tags=[ci, {{ $json.params.reqId }}, target:{{ $json.params.target }}, parent:{{ $json.params.parentStage }}, parent-id:{{ $json.params.parentIssueId }}, <ci:pass 或 ci:fail>]\\n  C. mcp__bkd__update-issue 改**本 issue**状态: statusId=review\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "ci_st",
      "name": "[CI] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":12,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[CI] Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"ci\",\"{{ $node[\"[CI] Id\"].json.params.reqId }}\",\"target:{{ $node[\"[CI] Id\"].json.params.target }}\",\"parent:{{ $node[\"[CI] Id\"].json.params.parentStage }}\",\"parent-id:{{ $node[\"[CI] Id\"].json.params.parentIssueId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "cmt_fu",
      "name": "[CMT] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1340
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":20,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.params.targetIssueId }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n🔴 CI 自检未过\\n\\nREQ={{ $json.params.reqId }}\\n原因: {{ $json.params.reason }}\\nCI issue: {{ $json.params.ciIssueId }}\\n\\n请查看 CI issue 的 `## CI Result` block，修复后 move review 重新触发。此为轻量反馈，不计入 bugfix round。\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "cmt_st",
      "name": "[CMT] St (回 in_progress)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1340
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":21,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"Router\"].json.params.targetIssueId }}\",\"statusId\":\"working\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "bug_cr",
      "name": "[BUG] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":30,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.params.reqId }}] [BUGFIX round-{{ $json.params.round }}] {{ $json.params.reason }}\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"bugfix\",\"{{ $json.params.reqId }}\",\"round-{{ $json.params.round }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "bug_id",
      "name": "[BUG] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1520
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[BUG] Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['Router'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "bug_fu",
      "name": "[BUG] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        1520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":31,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## BUG FIX (DEV-FIX)\\nAGENT_ROLE=dev-fix-agent\\nREQ={{ $json.params.reqId }}\\nROUND={{ $json.params.round }}\\nREASON={{ $json.params.reason }}\\nSOURCE_ISSUE={{ $json.params.sourceIssueId }}\\nBRANCH_BASE={{ $json.params.branch }}\\nBRANCH_WORK=stage/bugfix-dev-{{ $json.params.reqId }}-round-{{ $json.params.round }}\\n\\n## 职责\\n- 诊断 BUG 类型 (CODE / TEST / SPEC)\\n- 只能改业务代码 (internal/ cmd/ main/)，禁改 tests/, openspec/\\n- 诊断到 TEST BUG: 加 tag diagnosis:test-bug 直接 move review (交 test-fix-agent)\\n- 诊断到 SPEC BUG: 加 tag diagnosis:spec-bug 直接 move review (走 Escalate)\\n- CODE BUG: 从 $BRANCH_BASE 拉 $BRANCH_WORK 子分支, 改代码, commit, push, 不 merge 到 feat\\n\\n## 硬规则\\n- 禁 commit 到 feat/* (reviewer 才能 merge)\\n- 禁加 result:* tag\\n- pre-commit 会拦 tests/ 和 openspec/ 的改动\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "bug_st",
      "name": "[BUG] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":32,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[BUG] Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"bugfix\",\"{{ $node[\"[BUG] Id\"].json.params.reqId }}\",\"round-{{ $node[\"[BUG] Id\"].json.params.round }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "tfix_cr",
      "name": "[TFIX] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":40,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.params.reqId }}] [TEST-FIX round-{{ $json.params.round }}] adversarial test review\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"test-fix\",\"{{ $json.params.reqId }}\",\"round-{{ $json.params.round }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "tfix_id",
      "name": "[TFIX] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1700
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[TFIX] Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['Router'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "tfix_fu",
      "name": "[TFIX] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        1700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":41,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## TEST FIX\\nAGENT_ROLE=test-fix-agent\\nREQ={{ $json.params.reqId }}\\nROUND={{ $json.params.round }}\\nPREV_BUGFIX={{ $json.params.sourceIssueId }}\\nBRANCH_WORK=stage/bugfix-test-{{ $json.params.reqId }}-round-{{ $json.params.round }}\\n\\n## 职责\\n从 feat/$REQ 拉 $BRANCH_WORK 子分支, 以 test 视角审视测试, 改 tests/ 下文件。即使 dev-fix 判了 CODE BUG, 你也要独立审一次, 对抗验证。\\n\\n## 权限\\n- 可写: tests/contract/ tests/acceptance/ tests/ui/ tests/mobile/\\n- 禁写: internal/ cmd/ openspec/ migrations/\\n\\n## 读 dev-fix 的 diagnosis\\n看 sourceIssueId 的 tags:\\n- diagnosis:test-bug → 重点修 test\\n- 无 → 审一下 test 有没有问题, 无改动就 no-op commit + move review\\n\\n## 硬规则\\n- 禁 merge 到 feat/*\\n- 禁加 result:* tag\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "tfix_st",
      "name": "[TFIX] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":42,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[TFIX] Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"test-fix\",\"{{ $node[\"[TFIX] Id\"].json.params.reqId }}\",\"round-{{ $node[\"[TFIX] Id\"].json.params.round }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "rvw_cr",
      "name": "[RVW] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1880
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":50,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.params.reqId }}] [REVIEWER round-{{ $json.params.round }}] pick winner\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"reviewer\",\"{{ $json.params.reqId }}\",\"round-{{ $json.params.round }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "rvw_id",
      "name": "[RVW] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1880
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[RVW] Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['Router'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "rvw_fu",
      "name": "[RVW] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        1880
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":51,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## REVIEWER\\nAGENT_ROLE=reviewer-agent\\nREQ={{ $json.params.reqId }}\\nROUND={{ $json.params.round }}\\n\\n## 职责\\n比较两条分支 diff 选胜者 merge 到 feat/$REQ:\\n- stage/bugfix-dev-$REQ-round-$ROUND (dev-fix 改的 code)\\n- stage/bugfix-test-$REQ-round-$ROUND (test-fix 改的 test)\\n\\n选边标准:\\n1. spec 和 test 对齐 → test 对, 合 test 分支\\n2. spec 和 code 对齐 → code 对, 合 dev 分支\\n3. spec 本身模糊 → 两边都不合, 加 result:fail + 报告 → Escalate\\n4. 看能不能都合 (不冲突): 都合\\n\\n## 完成时\\n- merge 胜者 到 feat/$REQ → push\\n- tags 追加 result:pass (合了) 或 result:fail (都没合)\\n- move review\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "rvw_st",
      "name": "[RVW] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1880
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":52,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[RVW] Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"reviewer\",\"{{ $node[\"[RVW] Id\"].json.params.reqId }}\",\"round-{{ $node[\"[RVW] Id\"].json.params.round }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "acc_cr",
      "name": "[ACC] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2060
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":60,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.params.reqId }}] [ACCEPT] AI-QA\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"accept\",\"{{ $json.params.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "acc_id",
      "name": "[ACC] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2060
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[ACC] Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['Router'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "acc_fu",
      "name": "[ACC] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        2060
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":61,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n仅允许: mcp__bkd__* / mcp__aissh-tao__*\\n绝对禁止: mcp__vibe_kanban__* / mcp__erpnext__* / Task / Agent / 其他未列出 MCP\\n\\n─────────\\n## 验收 (ACCEPT / AI-QA)\\nAGENT_ROLE=accept-agent\\nREQ={{ $json.params.reqId }}\\nBRANCH={{ $json.params.branch }}\\nWORKDIR={{ $json.params.workdir }}\\nREPO_URL={{ $json.params.repoUrl }}\\n\\n## 职责\\n你是 AI-QA。读 openspec/changes/$REQ/specs/*/spec.md 里标 FEATURE-A* 的 Acceptance Scenario，\\n在调试环境跑一遍产品验证场景（非测试代码，而是用户视角的行为），给出 pass/fail 判定。\\n\\n## 硬约束\\n1. 所有命令只能通过 mcp__aissh-tao__exec_run 在 vm-node04 上执行。\\n2. 每条 exec_run 以 cd $WORKDIR 开头。\\n3. 禁改 repo 任何文件（只做读 + 部署 + 调用）。\\n4. update-issue issueId 必须是本 issue（不是 ci issue 或父 issue）。\\n\\n## 步骤\\nStep 1 bootstrap（首次 clone, 已存在 reset）:\\n  git clone --branch $BRANCH $REPO_URL $WORKDIR\\n  或 cd $WORKDIR && git fetch origin && git reset --hard origin/$BRANCH\\n\\nStep 2 构建 + 本地部署（AI-QA 侧，不是线上）:\\n  cd $WORKDIR && make ci-build 2>&1\\n  选一种方式启后台: ./bin/<main> & 或 make run & (看 Makefile 约定)\\n\\nStep 3 跑所有 FEATURE-A* Acceptance Scenario:\\n  对每个场景用 curl / CLI / 真实 IO 走一遍 Given/When/Then。\\n  记录每个场景: name / pass-or-fail / evidence (curl 输出 + 状态码 / 文件内容 / ...)\\n\\nStep 4 stop 后台服务 (kill / docker stop)。\\n\\nStep 5 写结果到**本 issue**:\\n  A. follow-up-issue 追加 `## Accept Result` block: 每场景 name/result/evidence\\n  B. update-issue tags: [accept, $REQ, <result:pass 或 result:fail>]\\n  C. update-issue statusId=review\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "acc_st",
      "name": "[ACC] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        2060
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":62,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[ACC] Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"accept\",\"{{ $node[\"[ACC] Id\"].json.params.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "gh_cr",
      "name": "[GH] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":80,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.params.reqId }}] [GH-ISSUE] {{ $json.params.kind }}\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"github-incident\",\"{{ $json.params.reqId }}\",\"kind:{{ $json.params.kind }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "gh_id",
      "name": "[GH] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2240
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[GH] Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['Router'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "gh_fu",
      "name": "[GH] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        2240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":81,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## GitHub 工单 (GH-ESCALATOR)\\nAGENT_ROLE=gh-escalator-agent\\nREQ={{ $json.params.reqId }}\\nKIND={{ $json.params.kind }}         # ci-integration-fail | accept-fail\\nDIAGNOSIS={{ $json.params.diagnosis }}   # code-bug | test-bug | spec-bug | unknown (hint)\\nSRC_ISSUE={{ $json.params.sourceIssueId }}\\nBRANCH={{ $json.params.branch }}\\nWORKDIR={{ $json.params.workdir }}\\nREPO_URL={{ $json.params.repoUrl }}\\nINCIDENT_KEY={{ $json.params.incidentKey }}   # 例: REQ-686:ci-integration-fail\\n\\n## 职责\\n契约测试/验收测试是 LOCKED 边界，fail 一律需要人工判定。你的活：\\n1. 若该 REQ+KIND 已有**开着的** GitHub issue → **comment** 新上下文到它；\\n2. 否则 → **create** 新 issue。\\n去重靠 label `sisyphus/incident:$INCIDENT_KEY`。新 issue 必须加这个 label。\\n\\n## 步骤\\nStep 1 读 SRC_ISSUE (mcp__bkd__get-issue $SRC_ISSUE)，提取 `## CI Result` 或 `## Accept Result` 块。\\n\\nStep 2 确定 repo slug（仅一次）：\\n  cd $WORKDIR && SLUG=$(git remote get-url origin | sed -E 's#.*[:/]([^/]+/[^/.]+)(\\\\\\\\.git)?$#\\\\\\\\1#')\\n\\nStep 3 搜重复（必须做，不做就违反 user policy）：\\n  gh issue list --repo $SLUG --state open --label \\\"sisyphus/incident:$INCIDENT_KEY\\\" --json number,title,url --limit 1\\n  → 若有匹配记录，记 EXISTING_URL / EXISTING_NUMBER，跳到 Step 4b；\\n  → 否则跳 Step 4a。\\n\\nStep 4a **create**（首次）：\\n  gh label create \\\"sisyphus/incident:$INCIDENT_KEY\\\" --color ededed --description \\\"sisyphus auto-filed\\\" --repo $SLUG --force\\n  gh issue create --repo $SLUG \\\\\\n    --title \\\"$REQ: $KIND needs human review\\\" \\\\\\n    --label \\\"sisyphus/incident:$INCIDENT_KEY\\\" \\\\\\n    --body \\\"$(cat <<EOF\\n$REQ 在 sisyphus 无人值守链路中卡在 **$KIND**。契约/验收测试是 LOCKED 边界，AI 不会自改。\\n请人工判定：\\n- 代码错 → 合 fix 到 $BRANCH，关闭本 issue 即可让 sisyphus 重跑。\\n- spec/test 本身错 → 改 openspec/changes/$REQ/specs/ 或对应 test，重新跑 sisyphus。\\n\\n### 上下文\\n- BKD incident issue: $SRC_ISSUE\\n- 分支: $BRANCH\\n- 机械诊断 hint: $DIAGNOSIS\\n- dedup key (label): sisyphus/incident:$INCIDENT_KEY\\n\\n### 首次失败详情\\n<贴 ## CI Result 或 ## Accept Result>\\nEOF\\n)\\\"\\n  记录 URL + number。\\n\\nStep 4b **comment**（重发）：\\n  gh issue comment $EXISTING_NUMBER --repo $SLUG --body \\\"$(cat <<EOF\\n同一 incident 再次触发（$(date -Iseconds)）。\\n- BKD incident issue: $SRC_ISSUE\\n- 机械诊断 hint: $DIAGNOSIS\\n\\n### 本次失败详情\\n<贴本次 ## CI Result 或 ## Accept Result>\\nEOF\\n)\\\"\\n\\nStep 5 回写到**本 BKD issue**（issueId 是你自己，不是 SRC_ISSUE）：\\n  A. follow-up-issue 追加 `## GH Issue`: action=create|comment / url / number / timestamp\\n  B. update-issue tags: 先 get-issue 取当前 tags，merge: [github-incident, $REQ, kind:$KIND, gh:<number>, action:<create|comment>]\\n  C. update-issue statusId=review\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "gh_st",
      "name": "[GH] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        2240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":82,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[GH] Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"github-incident\",\"{{ $node[\"[GH] Id\"].json.params.reqId }}\",\"kind:{{ $node[\"[GH] Id\"].json.params.kind }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "gh_bug_list",
      "name": "[GH Bugfix List]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2340
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":85,\"method\":\"tools/call\",\"params\":{\"name\":\"list-issues\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"limit\":200}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "gh_bug_gate",
      "name": "[GH Bugfix Gate]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2340
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Count existing BUGFIX issues for this REQ to decide next round + 熔断.\nconst raw = $node['[GH Bugfix List]'].json;\nconst src = raw && (raw.data || raw.body || raw);\nconst text = typeof src === 'string' ? src : String(src);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet issues = [];\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') issues = JSON.parse(c.text);\n  } catch {}\n}\nconst routerParams = $node['Router'].json.params;\nconst reqId = routerParams.reqId;\nconst existing = (Array.isArray(issues) ? issues : []).filter(i =>\n  Array.isArray(i.tags) && i.tags.includes('bugfix') && i.tags.includes(reqId));\nconst round = existing.length + 1;\nconst CB = 3; // circuit-breaker threshold; matches router.js CB_THRESHOLD\nconst shouldBugfix = round <= CB;\n// Carry context needed by [BUG] Cr downstream, shaped like Router's create_bugfix params.\nreturn [{ json: {\n  shouldBugfix,\n  round,\n  cbThreshold: CB,\n  existingCount: existing.length,\n  // Expose under params.* so [BUG] Cr's existing expressions ($json.params.*) still work.\n  params: {\n    reqId,\n    round,\n    sourceIssueId: routerParams.sourceIssueId || routerParams.issueId,\n    reason: (routerParams.kind || 'gh-escalated') + ' round-' + round,\n    branch: routerParams.branch || ('feat/' + reqId),\n  },\n}}];\n"
      }
    },
    {
      "id": "gh_bug_if",
      "name": "[GH Bugfix If]",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        2340
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.shouldBugfix }}",
              "rightValue": true
            }
          ]
        }
      }
    },
    {
      "id": "done_cr",
      "name": "[DONE] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":70,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.params.reqId }}] [DONE] archive & PR\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"done-archive\",\"{{ $json.params.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "done_id",
      "name": "[DONE] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2420
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[DONE] Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['Router'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "done_fu",
      "name": "[DONE] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        2420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":71,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n仅允许: mcp__bkd__* / mcp__aissh-tao__*\\n绝对禁止: mcp__vibe_kanban__* / mcp__erpnext__* / Task / Agent / 其他未列出 MCP\\n\\n─────────\\n## 归档 (DONE ARCHIVE)\\nAGENT_ROLE=done-archive-agent\\nREQ={{ $json.params.reqId }}\\nBRANCH={{ $json.params.branch }}\\nWORKDIR={{ $json.params.workdir }}\\nREPO_URL={{ $json.params.repoUrl }}\\nACCEPT_ISSUE={{ $json.params.acceptIssueId }}\\n\\n## 职责\\n验收通过后，把 $REQ 的变更正式固化：openspec apply + 创建 PR。\\n\\n## 硬约束\\n- **update-issue / follow-up-issue 的 issueId 只能是本 issue (即你自己 session 所在的 issue)，\\n  绝对不能是 ACCEPT_ISSUE**。ACCEPT_ISSUE 只是上下文参考。\\n- 所有 shell 命令通过 mcp__aissh-tao__exec_run 在 vm-node04 上执行。\\n\\n## 步骤\\nStep 1 bootstrap:\\n  cd $WORKDIR && git fetch origin && git reset --hard origin/$BRANCH\\n\\nStep 2 openspec apply:\\n  cd $WORKDIR && openspec apply $REQ\\n  这会把 changes/$REQ/specs/* 里的 ADDED 块合并进 openspec/specs/*，\\n  删除 changes/$REQ 目录。produces a new commit。\\n  失败就贴 error 到本 issue description，加 tag archive-fail 并 move review。\\n\\nStep 3 push:\\n  cd $WORKDIR && git push origin $BRANCH\\n\\nStep 4 创 PR:\\n  cd $WORKDIR && gh pr create --base master --head $BRANCH \\\\\\n    --title \\\"$REQ: <一句话概括>\\\" --body \\\"$(cat openspec/changes/$REQ/proposal.md 2>/dev/null || echo done via sisyphus)\\\"\\n  记录 PR URL。\\n\\nStep 5 写结果到**本 issue**:\\n  A. follow-up-issue 追加 `## Archive Result`: pr_url / commit_sha\\n  B. update-issue tags: [done-archive, $REQ, result:pass, pr:<url>]\\n  C. update-issue statusId=done  # 归档完成直接 done，不 review\\n\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "done_st",
      "name": "[DONE] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        2420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":72,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[DONE] Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"done-archive\",\"{{ $node[\"[DONE] Id\"].json.params.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "fan_split",
      "name": "[FAN] Split specs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1680,
        800
      ],
      "parameters": {
        "fieldToSplitOut": "params.specs",
        "options": {
          "destinationFieldName": "specStage"
        }
      }
    },
    {
      "id": "fan_cr",
      "name": "[FAN] Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":60,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $('[ENTRY] Ctx 提取').first().json.projectId }}\",\"title\":\"[{{ $('Router').first().json.params.reqId }}] [{{ $json.specStage }}]\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"{{ $json.specStage }}\",\"{{ $('Router').first().json.params.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $('[ENTRY] Ctx 提取').first().json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "fan_id",
      "name": "[FAN] Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        800
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// After [FAN] Cr: N items (one per spec). Extract iid from each; recover specStage from Split Out by index.\nconst crItems = $input.all();\nconst splitItems = $('[FAN] Split specs').all();\nconst reqId = $('Router').first().json.params.reqId;\nreturn crItems.map((item, idx) => {\n  const raw = item.json;\n  const text = String((raw && (raw.data || raw.body)) || raw || '');\n  const m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\n  let iid = '';\n  if (m) {\n    try {\n      const env = JSON.parse(m[1]);\n      const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n      if (c && typeof c.text === 'string') iid = (JSON.parse(c.text).id) || '';\n    } catch {}\n  }\n  const srcItem = splitItems[idx];\n  const specStage = (srcItem && srcItem.json && srcItem.json.specStage) || '';\n  return { json: { specStage, iid, reqId } };\n});\n"
      }
    },
    {
      "id": "fan_fu",
      "name": "[FAN] Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":61,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## SPEC ({{ $json.specStage }})\\nAGENT_ROLE={{ $json.specStage }}-agent\\nREQ={{ $json.reqId }}\\n\\n## 你的任务（按 specStage 对号入座）\\n\\n### 若 specStage == contract-test\\n你是 **contract-test-agent**，负责所有跨部件 LOCKED 约定的测试层。\\n\\n**读**：\\n- openspec/changes/$REQ/proposal.md（看影响范围）\\n- openspec/changes/$REQ/design.md（看接口形态）\\n- openspec/changes/$REQ/tasks.md 的 `## Stage: contract-tests` section（骨架 TODO）\\n\\n**根据 proposal 涉及的形态，挑一种或多种写**：\\n- 若涉及 **REST API**：产 `openspec/changes/$REQ/contract.spec.yaml`（OpenAPI）+ `tests/contract/*.go`\\n- 若涉及 **UI 组件契约**：产 `tests/ui/*`（props 快照 / 可达性 断言）\\n- 若涉及 **DB schema**：产 `migrations/*.sql` + 验证 SQL\\n- 以上都涉及就都写（可以同时）\\n- 都不涉及（罕见，纯重构）：在 tasks.md section 里写 `- [x] no contract changes` + ci-passed\\n\\n**写 specs（LOCKED 契约描述）**：\\n- openspec/changes/$REQ/specs/<capability>/spec.md 的 ADDED 块，以 `## Scenario: <REQ>-S<N>` 命名\\n- 这是 Router/lint 工具认的格式（scripts/check-scenario-refs.sh 会校验）\\n\\n**填 tasks.md 的 Stage: contract-tests section**（替换 TODO 为实际任务清单），\\n每条 checkbox 可以 `[XXX-S<N>]` 引用 scenario ID（check-scenario-refs.sh 会校验）。\\n\\n**性质**：LOCKED。dev-agent 不得改 contract.spec.yaml / tests/contract/** / migrations/**。\\npre-commit ACL 已配好 `contract-test-agent` 的可写范围。\\n\\n### 若 specStage == accept-test\\n你是 **accept-test-agent**，负责用户视角端到端验收。\\n\\n**读**：proposal.md + design.md + tasks.md 的 `## Stage: acceptance-tests` section\\n\\n**产**：\\n- openspec/changes/$REQ/specs/<capability>/spec.md 的 ADDED 块，Scenario 以 `FEATURE-A<N>` 命名\\n  每条 Given/When/Then 格式，**用户视角**（不关心代码层）\\n- 可选：`tests/acceptance/*`（若有 E2E 自动化工具）\\n\\n**填 tasks.md 的 Stage: acceptance-tests section**（替换 TODO 为真实场景清单）\\n\\n**性质**：LOCKED。accept-agent 在验收阶段按这个跑。\\n\\n## 硬规则（所有 specStage 通用）\\n- **只改自己 Stage section 对应的 tasks.md checkbox**，check-tasks-section-ownership.sh 会校验 diff\\n- **不改** proposal.md / design.md / 其他 agent 的 Stage section\\n- **不写** openspec/specs/**（那是 openspec apply 归档后的位置，归 analyze+done 阶段）\\n- pre-commit ACL 会拦越权；违反即任务失败\\n\\n## 自检 lint（move review 前必须做，不起独立 CI issue）\\ncommit 完你要**自己跑一遍** lint 确保绿，不绿就自己修到绿。通过 aissh 在 vm-node04 上跑：\\n```\\nWORKDIR=/var/sisyphus-ci/feat-$REQ   # 若不存在: git clone --branch feat/$REQ <repo_url> $WORKDIR\\n                                     # 已存在: cd $WORKDIR && git fetch && git reset --hard origin/feat/$REQ\\ncd $WORKDIR && BASE_REV=origin/master make ci-lint\\n```\\n`make ci-lint` 会跑：\\n- golangci-lint 增量（spec 分支通常 0 finding）\\n- scripts/check-scenario-refs.sh（tasks.md 的 [XXX-S<N>] 引用必须能 resolve）\\n- openspec validate openspec/changes/$REQ（结构校验）\\n\\n任一挂了 → 修 spec/tasks 文件 → commit + push → 再跑一次，直到绿。\\n**不绿就不许 move review**（review 后 Router 会推进到 SPG Gate + dev，带坏下游）。\\n\\n## 完成时\\n- lint 绿 + commit + push 到 feat/$REQ\\n- update-issue tags 保留 {{ $json.specStage }} + $REQ\\n- move review —— n8n 自动推进到 SPG Gate。\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $('[ENTRY] Ctx 提取').first().json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "fan_st",
      "name": "[FAN] St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":62,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $('[ENTRY] Ctx 提取').first().json.projectId }}\",\"issueId\":\"{{ $('[FAN] Id').item.json.iid }}\",\"statusId\":\"working\",\"tags\":[\"{{ $('[FAN] Id').item.json.specStage }}\",\"{{ $('[FAN] Id').item.json.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $('[ENTRY] Ctx 提取').first().json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "fan_done",
      "name": "[FAN] Mark analyze done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":63,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $('[ENTRY] Ctx 提取').first().json.projectId }}\",\"issueId\":\"{{ $('[ENTRY] Ctx 提取').first().json.issueId }}\",\"statusId\":\"done\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $('[ENTRY] Ctx 提取').first().json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "spg_mark",
      "name": "[SPG] Mark spec-reviewed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        980
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":70,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.params.parentIssueId }}\",\"tags\":[\"{{ $json.params.specStage }}\",\"{{ $json.params.reqId }}\",\"ci-passed\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "spg_list",
      "name": "[SPG] List REQ specs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        980
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":71,\"method\":\"tools/call\",\"params\":{\"name\":\"list-issues\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"limit\":200}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "spg_gate",
      "name": "[SPG] Gate check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        980
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Check whether all expected specs for this REQ have `ci-passed` tag.\n// If yes, emit {allReady: true, reqId, repoUrl}. Else skip.\nconst raw = $node['[SPG] List REQ specs'].json;\nconst src = raw && (raw.data || raw.body || raw);\nconst text = typeof src === 'string' ? src : String(src);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nif (!m) return [{ json: { allReady: false, reason: 'bad list SSE' } }];\nlet issues = [];\ntry {\n  const env = JSON.parse(m[1]);\n  const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n  if (c && typeof c.text === 'string') issues = JSON.parse(c.text);\n} catch {}\nif (!Array.isArray(issues)) return [{ json: { allReady: false, reason: 'list parse err' } }];\n\nconst routerParams = $node['Router'].json.params;\nconst reqId = routerParams.reqId;\n// Infer expected specs from analyze layers — but we don't have layers here.\n// MVP: look at current ci-passed specs for this REQ and check we have all known spec kinds.\n// Simple heuristic: if >=2 spec issues ci-passed (dev-spec + accept-spec at minimum), gate open.\nconst reqSpecs = issues.filter(i => Array.isArray(i.tags) && i.tags.includes(reqId));\nconst passed = reqSpecs.filter(i => i.tags.includes('ci-passed'));\nconst expectedCount = 2; // fan-out 两路: contract-test + accept-test\n// Idempotency gate: if a DEV issue already exists for this REQ, don't open again.\n// Without this, every spec re-entry (mark_spec_reviewed replays) re-triggers dev creation.\nconst reqDevs = issues.filter(i => Array.isArray(i.tags) && i.tags.includes('dev') && i.tags.includes(reqId));\nconst allReady = passed.length >= expectedCount && reqDevs.length === 0;\nreturn [{ json: {\n  allReady,\n  reqId,\n  passedCount: passed.length,\n  expectedCount,\n  params: { reqId, branch: 'stage/' + reqId + '-dev', workdir: '/var/sisyphus-ci/stage-' + reqId + '-dev', repoUrl: routerParams.repoUrl || null }\n}}];\n"
      }
    },
    {
      "id": "spg_if",
      "name": "[SPG] If gate open",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        980
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.allReady }}",
              "rightValue": true
            }
          ]
        }
      }
    },
    {
      "id": "spg_dev_cr",
      "name": "[SPG] Dev Cr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        980
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":72,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $json.reqId }}] [DEV]\",\"statusId\":\"todo\",\"useWorktree\":false,\"tags\":[\"dev\",\"{{ $json.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueErrorOutput"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "spg_dev_id",
      "name": "[SPG] Dev Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        980
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const prev = $node['[SPG] Dev Cr'].json;\nconst raw = (prev && (prev.data || prev.body || prev)) || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\nconst m = text.match(/data:\\s*(\\{[\\s\\S]*?\\})\\s*$/m);\nlet iid = '';\nif (m) {\n  try {\n    const env = JSON.parse(m[1]);\n    const c = env.result && Array.isArray(env.result.content) ? env.result.content[0] : null;\n    if (c && typeof c.text === 'string') {\n      const parsed = JSON.parse(c.text);\n      iid = parsed.id || parsed.issueId || '';\n    }\n  } catch {}\n}\n// Carry forward params to downstream Fu/St. Router is the default source, but when the\n// chain entered via [GH Bugfix Gate] (GH → BUG), that gate reshaped params (added round).\n// Prefer gate's params if the gate node executed in this run.\nconst routerOut = $node['[SPG] Gate check'].json || {};\nlet gateParams = null;\ntry {\n  const g = $node['[GH Bugfix Gate]'];\n  if (g && g.json && g.json.params) gateParams = g.json.params;\n} catch (_) {}\nconst params = gateParams || routerOut.params || {};\nreturn [{ json: { ...routerOut, params, iid, _crText: text.slice(-300) } }];\n"
      }
    },
    {
      "id": "spg_dev_fu",
      "name": "[SPG] Dev Fu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        980
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":73,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $('Router').first().json._input.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 工具白名单 (HARD CONSTRAINT — 第一优先级)\\n**仅允许**调用以下 MCP 工具：\\n- mcp__bkd__* (管 BKD issue 状态/tags/follow-up/get-issue)\\n- mcp__aissh-tao__* (在 vm-node04 exec_run 命令、file_deploy)\\n\\n**绝对禁止**调用：\\n- mcp__vibe_kanban__* (另一套 kanban，不是我们用的 BKD)\\n- mcp__erpnext__* (ERP 系统，和本任务无关)\\n- Task / Agent 子代理工具 (会污染 session)\\n- 任何其他未列出的 MCP\\n\\n违反即视为任务失败。即使工具列表里出现其他工具，你也必须当作不存在。\\nBKD session 日志会记录工具调用，审计会拦截越权调用。\\n\\n─────────\\n\\n## 只改本 issue (HARD CONSTRAINT — 第二优先级)\\n\\n你的 prompt 里可能带上游参考变量 (REQ / BRANCH / SRC_ISSUE / ACCEPT_ISSUE / PARENT_ISSUE 等)。\\n**它们只用来读**，任何 mcp__bkd__update-issue / mcp__bkd__follow-up-issue 的 issueId 参数\\n**必须是你自己 session 所在的 issue**，不是上面任何一个。\\n\\n怎么确认自己的 issueId：\\n1. 最稳的做法：调一次 `mcp__bkd__list-issues` 或从 session 自身上下文拿 issueId；\\n2. 或者对你收到的 issueNumber（若 prompt 或 session 提供）调 `mcp__bkd__get-issue` 对齐。\\n\\n### tags 覆盖语义\\nBKD update-issue 会**替换**整个 tags 数组。每次 update 前必须：\\n1. `mcp__bkd__get-issue` 取当前 tags；\\n2. 在内存里 merge：保留所有非本阶段管理的 tag + 追加本阶段要写入的 tag；\\n3. 再 update-issue。\\n\\n**不要**只传新 tag 导致原 REQ-xxx / 阶段 tag 被抹掉，Router 会路由到 unknown。\\n\\n违反这条约束 = 任务失败。\\n\\n─────────\\n\\n## 开发 (DEV)\\nAGENT_ROLE=dev-agent\\nREQ={{ $json.reqId }}\\n\\n前置：contract-test-agent 和 accept-test-agent 已产出契约/验收 spec + 测试骨架。\\n你负责实现业务代码 + unit test，让上游契约和验收测试全部跑绿。\\n\\n## 步骤\\n1. 读 `openspec/changes/$REQ/`：\\n   - proposal.md + design.md（理解需求和方案）\\n   - contract.spec.yaml（若有，是 API/IO LOCKED 定义）\\n   - specs/<capability>/spec.md（Scenario 列表，LOCKED）\\n   - tasks.md 的 `## Stage: implementation` section（待你填细节）\\n2. 从 feat/$REQ 拉 stage/$REQ-dev 子分支\\n3. **填 tasks.md 的 Stage: implementation section**：把 analyze 留的 TODO 换成具体任务清单\\n4. 实现业务代码（internal/ cmd/）+ 同目录 unit test\\n5. 通过 mcp__aissh-tao__exec_run 在 vm-node04 跑 `go vet` / `go build` / `make ci-unit-test` 验证\\n6. ONE 干净 commit + push 到 stage/$REQ-dev\\n7. move review\\n\\n## 禁改（pre-commit ACL 会拦）\\n- tests/contract/** / tests/acceptance/** / tests/ui/**（契约/验收测试 LOCKED）\\n- openspec/changes/$REQ/specs/**（contract/accept Scenario LOCKED）\\n- openspec/changes/$REQ/contract.spec.yaml（LOCKED）\\n- tasks.md 里其他 Stage section（check-tasks-section-ownership.sh 会校验 diff）\\n- openspec/specs/**（是 openspec apply 归档后的长期知识库，归 [DONE] 阶段写）\"}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "spg_dev_st",
      "name": "[SPG] Dev St",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        980
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":74,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[SPG] Dev Id\"].json.iid }}\",\"statusId\":\"working\",\"tags\":[\"dev\",\"{{ $node[\"[SPG] Dev Id\"].json.reqId }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "spg_wait",
      "name": "[SPG] Gate not yet ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        1060
      ],
      "parameters": {}
    },
    {
      "id": "esc_st",
      "name": "[ESC] St (add escalate tag)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":80,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.params.issueId || $json.params.reqId }}\",\"tags\":[\"escalated\",\"reason:{{ $json.reason }}\"]}}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Coder-Session-Token",
              "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"
            },
            {
              "name": "Mcp-Session-Id",
              "value": "={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "a_other",
      "name": "[A] unhandled",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        2960
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "[ENTRY] Hook": {
      "main": [
        [
          {
            "node": "[ENTRY] Init MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ENTRY] Init MCP": {
      "main": [
        [
          {
            "node": "[ENTRY] Get Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ENTRY] Get Issue": {
      "main": [
        [
          {
            "node": "[ENTRY] Ctx 提取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ENTRY] Ctx 提取": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ENTRY intent] Hook": {
      "main": [
        [
          {
            "node": "[ENTRY intent] Init MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ENTRY intent] Init MCP": {
      "main": [
        [
          {
            "node": "[ENTRY intent] Ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ENTRY intent] Ctx": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Dispatch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ANZ] Update title+tags": {
      "main": [
        [
          {
            "node": "[ANZ] Send analyze prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ANZ] Send analyze prompt": {
      "main": [
        [
          {
            "node": "[ANZ] Trigger agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CI] Cr": {
      "main": [
        [
          {
            "node": "[CI] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CI] Id": {
      "main": [
        [
          {
            "node": "[CI] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CI] Fu": {
      "main": [
        [
          {
            "node": "[CI] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CMT] Fu": {
      "main": [
        [
          {
            "node": "[CMT] St (回 in_progress)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BUG] Cr": {
      "main": [
        [
          {
            "node": "[BUG] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BUG] Id": {
      "main": [
        [
          {
            "node": "[BUG] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BUG] Fu": {
      "main": [
        [
          {
            "node": "[BUG] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TFIX] Cr": {
      "main": [
        [
          {
            "node": "[TFIX] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TFIX] Id": {
      "main": [
        [
          {
            "node": "[TFIX] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TFIX] Fu": {
      "main": [
        [
          {
            "node": "[TFIX] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[RVW] Cr": {
      "main": [
        [
          {
            "node": "[RVW] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[RVW] Id": {
      "main": [
        [
          {
            "node": "[RVW] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[RVW] Fu": {
      "main": [
        [
          {
            "node": "[RVW] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ACC] Cr": {
      "main": [
        [
          {
            "node": "[ACC] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ACC] Id": {
      "main": [
        [
          {
            "node": "[ACC] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ACC] Fu": {
      "main": [
        [
          {
            "node": "[ACC] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GH] Cr": {
      "main": [
        [
          {
            "node": "[GH] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GH] Id": {
      "main": [
        [
          {
            "node": "[GH] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GH] Fu": {
      "main": [
        [
          {
            "node": "[GH] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GH] St": {
      "main": [
        [
          {
            "node": "[GH Bugfix List]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GH Bugfix List]": {
      "main": [
        [
          {
            "node": "[GH Bugfix Gate]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GH Bugfix Gate]": {
      "main": [
        [
          {
            "node": "[GH Bugfix If]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GH Bugfix If]": {
      "main": [
        [
          {
            "node": "[BUG] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[A] skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[DONE] Cr": {
      "main": [
        [
          {
            "node": "[DONE] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[DONE] Id": {
      "main": [
        [
          {
            "node": "[DONE] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[DONE] Fu": {
      "main": [
        [
          {
            "node": "[DONE] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FAN] Split specs": {
      "main": [
        [
          {
            "node": "[FAN] Cr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FAN] Cr": {
      "main": [
        [
          {
            "node": "[FAN] Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FAN] Id": {
      "main": [
        [
          {
            "node": "[FAN] Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FAN] Fu": {
      "main": [
        [
          {
            "node": "[FAN] St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FAN] St": {
      "main": [
        [
          {
            "node": "[FAN] Mark analyze done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SPG] Mark spec-reviewed": {
      "main": [
        [
          {
            "node": "[SPG] List REQ specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SPG] List REQ specs": {
      "main": [
        [
          {
            "node": "[SPG] Gate check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SPG] Gate check": {
      "main": [
        [
          {
            "node": "[SPG] If gate open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SPG] If gate open": {
      "main": [
        [
          {
            "node": "[SPG] Dev Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[SPG] Gate not yet ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SPG] Dev Cr": {
      "main": [
        [
          {
            "node": "[SPG] Dev Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SPG] Dev Id": {
      "main": [
        [
          {
            "node": "[SPG] Dev Fu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SPG] Dev Fu": {
      "main": [
        [
          {
            "node": "[SPG] Dev St",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Action": {
      "main": [
        [
          {
            "node": "[A] skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[ANZ] Update title+tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CI] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CMT] Fu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[BUG] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[TFIX] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[RVW] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[ACC] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[GH] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[DONE] Cr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[FAN] Split specs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[SPG] Mark spec-reviewed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[ESC] St (add escalate tag)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[A] unhandled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}