charts/n8n-workflows/bkd-ai-stage.json
{
  "name": "BKD AI Stage",
  "nodes": [
    {
      "id": "input",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "id": "mcp_init",
      "name": "MCP: Initialize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [420, 400],
      "parameters": {
        "method": "POST",
        "url": "https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 0, method: 'initialize', params: { protocolVersion: '2025-03-26', capabilities: {}, clientInfo: { name: 'n8n-bkd-stage', version: '1.0' } } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Coder-Session-Token", "value": "GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn" }
          ]
        },
        "options": { "timeout": 15000, "response": { "response": { "fullResponse": true } } }
      }
    },
    {
      "id": "parse_session",
      "name": "Parse Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst input = $node['Execute Workflow Trigger'].json;\n\n// Extract session ID from response headers\nlet sessionId = '';\nconst headers = resp.headers || {};\nsessionId = headers['mcp-session-id'] || headers['Mcp-Session-Id'] || '';\n\n// Parse SSE body to get data\nlet body = resp.body || resp.data || resp;\nif (typeof body === 'string' && body.includes('data:')) {\n  const lines = body.split('\\n').filter(l => l.startsWith('data:'));\n  if (lines.length > 0) {\n    try { body = JSON.parse(lines[lines.length - 1].replace('data: ', '')); } catch(e) {}\n  }\n}\n\nreturn [{\n  json: {\n    _session_id: sessionId,\n    _bkd_url: 'https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp',\n    _coder_token: 'GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn',\n    projectId: input.projectId || 'ttposhwt',\n    title: input.title,\n    prompt: input.prompt,\n    engineType: input.engineType || 'claude-code',\n    tags: input.tags || [],\n    timeoutMs: input.timeoutMs || 900000,\n    useWorktree: input.useWorktree !== false,\n    _input: input\n  }\n}];"
      }
    },
    {
      "id": "create_issue",
      "name": "BKD: Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [860, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $json._bkd_url }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 1, method: 'tools/call', params: { name: 'create-issue', arguments: { projectId: $json.projectId, title: $json.title, statusId: 'todo', useWorktree: $json.useWorktree, tags: $json.tags } } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Coder-Session-Token", "value": "={{ $json._coder_token }}" },
            { "name": "Mcp-Session-Id", "value": "={{ $json._session_id }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "parse_issue_id",
      "name": "Parse Issue ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400],
      "parameters": {
        "jsCode": "const ctx = $node['Parse Session'].json;\nconst raw = $input.first().json;\n\n// Parse SSE response\nlet respData = raw;\nif (typeof raw === 'string' || (typeof raw.data === 'string')) {\n  const str = typeof raw === 'string' ? raw : raw.data;\n  const lines = str.split('\\n').filter(l => l.startsWith('data:'));\n  if (lines.length > 0) {\n    try { respData = JSON.parse(lines[lines.length - 1].replace('data: ', '')); } catch(e) {}\n  }\n}\n\nlet issueData = {};\ntry {\n  const text = respData.result?.content?.[0]?.text || '{}';\n  issueData = typeof text === 'string' ? JSON.parse(text) : text;\n} catch(e) {\n  issueData = respData;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    issueId: issueData.id || issueData.issueId,\n    _poll_start: Date.now(),\n    _poll_count: 0\n  }\n}];"
      }
    },
    {
      "id": "follow_up",
      "name": "BKD: Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1300, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $json._bkd_url }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 2, method: 'tools/call', params: { name: 'follow-up-issue', arguments: { projectId: $json.projectId, issueId: $json.issueId, prompt: $json.prompt } } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Coder-Session-Token", "value": "={{ $json._coder_token }}" },
            { "name": "Mcp-Session-Id", "value": "={{ $json._session_id }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "execute_issue",
      "name": "BKD: Execute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1520, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Parse Issue ID'].json._bkd_url }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 3, method: 'tools/call', params: { name: 'execute-issue', arguments: { projectId: $node['Parse Issue ID'].json.projectId, issueId: $node['Parse Issue ID'].json.issueId, prompt: 'Begin execution. Follow the requirements sent in follow-up. When complete, move issue to review.', engineType: $node['Parse Issue ID'].json.engineType } } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Coder-Session-Token", "value": "={{ $node['Parse Issue ID'].json._coder_token }}" },
            { "name": "Mcp-Session-Id", "value": "={{ $node['Parse Issue ID'].json._session_id }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "poll_wait",
      "name": "Poll Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1740, 400],
      "parameters": {
        "unit": "seconds",
        "amount": 30
      }
    },
    {
      "id": "check_status",
      "name": "BKD: Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1960, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Parse Issue ID'].json._bkd_url }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 4, method: 'tools/call', params: { name: 'get-issue', arguments: { projectId: $node['Parse Issue ID'].json.projectId, issueId: $node['Parse Issue ID'].json.issueId } } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Coder-Session-Token", "value": "={{ $node['Parse Issue ID'].json._coder_token }}" },
            { "name": "Mcp-Session-Id", "value": "={{ $node['Parse Issue ID'].json._session_id }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "parse_status",
      "name": "Parse Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 400],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst ctx = $node['Parse Issue ID'].json;\n\n// Parse SSE\nlet respData = raw;\nif (typeof raw === 'string' || (typeof raw.data === 'string')) {\n  const str = typeof raw === 'string' ? raw : raw.data;\n  const lines = str.split('\\n').filter(l => l.startsWith('data:'));\n  if (lines.length > 0) {\n    try { respData = JSON.parse(lines[lines.length - 1].replace('data: ', '')); } catch(e) {}\n  }\n}\n\nlet issue = {};\ntry {\n  const text = respData.result?.content?.[0]?.text || '{}';\n  issue = typeof text === 'string' ? JSON.parse(text) : text;\n} catch(e) {\n  issue = respData;\n}\n\nconst status = issue.statusId || issue.status || 'unknown';\nconst elapsed = Date.now() - ctx._poll_start;\nconst pollCount = (ctx._poll_count || 0) + 1;\n\nreturn [{\n  json: {\n    ...ctx,\n    _status: status,\n    _still_working: (status === 'working'),\n    _timed_out: (elapsed >= ctx.timeoutMs),\n    _poll_count: pollCount,\n    _elapsed_ms: elapsed\n  }\n}];"
      }
    },
    {
      "id": "still_working",
      "name": "Still Working?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2400, 400],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json._still_working }}", "value2": true }
          ]
        }
      }
    },
    {
      "id": "timeout_check",
      "name": "Timed Out?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2620, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json._timed_out }}", "value2": true }
          ]
        }
      }
    },
    {
      "id": "cancel_issue",
      "name": "BKD: Cancel (Timeout)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2840, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Parse Issue ID'].json._bkd_url }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 5, method: 'tools/call', params: { name: 'cancel-issue', arguments: { projectId: $node['Parse Issue ID'].json.projectId, issueId: $node['Parse Issue ID'].json.issueId } } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Coder-Session-Token", "value": "={{ $node['Parse Issue ID'].json._coder_token }}" },
            { "name": "Mcp-Session-Id", "value": "={{ $node['Parse Issue ID'].json._session_id }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "timeout_result",
      "name": "Timeout Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 200],
      "parameters": {
        "jsCode": "const ctx = $node['Parse Issue ID'].json;\nreturn [{\n  json: {\n    success: false,\n    issueId: ctx.issueId,\n    error: 'Stage timed out after ' + Math.round(ctx.timeoutMs / 1000) + 's',\n    output: null,\n    _input: ctx._input\n  }\n}];"
      }
    },
    {
      "id": "get_logs",
      "name": "BKD: Get Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2620, 550],
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Parse Issue ID'].json._bkd_url }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 6, method: 'tools/call', params: { name: 'get-issue-logs', arguments: { projectId: $node['Parse Issue ID'].json.projectId, issueId: $node['Parse Issue ID'].json.issueId, lastTurn: true } } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Coder-Session-Token", "value": "={{ $node['Parse Issue ID'].json._coder_token }}" },
            { "name": "Mcp-Session-Id", "value": "={{ $node['Parse Issue ID'].json._session_id }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "parse_result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 550],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst ctx = $node['Parse Issue ID'].json;\n\n// Parse SSE\nlet respData = raw;\nif (typeof raw === 'string' || (typeof raw.data === 'string')) {\n  const str = typeof raw === 'string' ? raw : raw.data;\n  const lines = str.split('\\n').filter(l => l.startsWith('data:'));\n  if (lines.length > 0) {\n    try { respData = JSON.parse(lines[lines.length - 1].replace('data: ', '')); } catch(e) {}\n  }\n}\n\nlet logs = {};\ntry {\n  const text = respData.result?.content?.[0]?.text || '{}';\n  logs = typeof text === 'string' ? JSON.parse(text) : text;\n} catch(e) {\n  logs = respData;\n}\n\nlet output = null;\nlet success = false;\nconst entries = logs.entries || logs.messages || [];\nfor (let i = entries.length - 1; i >= 0; i--) {\n  const entry = entries[i];\n  const content = entry.content || entry.text || '';\n  if (entry.role === 'assistant' || entry.type === 'assistant-message') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try {\n        output = JSON.parse(jsonMatch[0]);\n        success = output.success === true || output.accepted === true;\n      } catch(e) {\n        output = content;\n      }\n    } else {\n      output = content;\n    }\n    break;\n  }\n}\n\nconst sessionStatus = logs.sessionStatus || ctx._status;\nif (sessionStatus === 'failed' || sessionStatus === 'cancelled') {\n  success = false;\n}\n\nreturn [{\n  json: {\n    success: success,\n    issueId: ctx.issueId,\n    sessionStatus: sessionStatus,\n    output: output,\n    error: success ? null : (output?.error_summary || output?.error || 'Stage failed'),\n    _input: ctx._input\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "MCP: Initialize", "type": "main", "index": 0 }]]
    },
    "MCP: Initialize": {
      "main": [[{ "node": "Parse Session", "type": "main", "index": 0 }]]
    },
    "Parse Session": {
      "main": [[{ "node": "BKD: Create Issue", "type": "main", "index": 0 }]]
    },
    "BKD: Create Issue": {
      "main": [[{ "node": "Parse Issue ID", "type": "main", "index": 0 }]]
    },
    "Parse Issue ID": {
      "main": [[{ "node": "BKD: Follow-up", "type": "main", "index": 0 }]]
    },
    "BKD: Follow-up": {
      "main": [[{ "node": "BKD: Execute", "type": "main", "index": 0 }]]
    },
    "BKD: Execute": {
      "main": [[{ "node": "Poll Wait", "type": "main", "index": 0 }]]
    },
    "Poll Wait": {
      "main": [[{ "node": "BKD: Check Status", "type": "main", "index": 0 }]]
    },
    "BKD: Check Status": {
      "main": [[{ "node": "Parse Status", "type": "main", "index": 0 }]]
    },
    "Parse Status": {
      "main": [[{ "node": "Still Working?", "type": "main", "index": 0 }]]
    },
    "Still Working?": {
      "main": [
        [{ "node": "Timed Out?", "type": "main", "index": 0 }],
        [{ "node": "BKD: Get Logs", "type": "main", "index": 0 }]
      ]
    },
    "Timed Out?": {
      "main": [
        [{ "node": "BKD: Cancel (Timeout)", "type": "main", "index": 0 }],
        [{ "node": "Poll Wait", "type": "main", "index": 0 }]
      ]
    },
    "BKD: Cancel (Timeout)": {
      "main": [[{ "node": "Timeout Result", "type": "main", "index": 0 }]]
    },
    "BKD: Get Logs": {
      "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
