charts/n8n-workflows/simple-webhook.json
{
  "name": "CI Webhook Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ci-failed",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// 解析 webhook 数据\nconst body = $input.first().json.body;\n\n// 从 Gitea webhook 中提取信息\nconst result = {\n  project: body.repository?.name || 'unknown',\n  branch: body.ref?.replace('refs/heads/', '') || 'unknown',\n  commit: body.after?.substring(0, 7) || 'unknown',\n  pusher: body.pusher?.username || 'unknown',\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('CI Failure detected:', result);\nreturn [{ json: result }];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, timestamp: new Date().toISOString() }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
