charts/n8n-workflows/v2-p0-done.json
{"name":"V2 P0 Done","nodes":[{"id":"t","name":"Hook","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"dce46ab5-0239-422d-82bd-419ca31bdf8a","position":[200,400],"parameters":{"httpMethod":"POST","path":"v2-p0-done","responseMode":"onReceived","options":{}}},{"id":"i","name":"Init","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\": \"2.0\", \"id\": 0, \"method\": \"initialize\", \"params\": {\"protocolVersion\": \"2025-03-26\", \"capabilities\": {}, \"clientInfo\": {\"name\": \"n8n\", \"version\": \"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"c","name":"Ctx","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","value":"={{ $json.headers[\"mcp-session-id\"] }}","type":"string"},{"id":"2","name":"rid","value":"={{ $node.Hook.json.body.req_id || \"REQ-0\" }}","type":"string"},{"id":"3","name":"ttl","value":"={{ $node.Hook.json.body.title || \"untitled\" }}","type":"string"},{"id":"4","name":"desc","value":"={{ $node.Hook.json.body.description || \"\" }}","type":"string"},{"id":"5","name":"bid","value":"={{ $node.Hook.json.body.bkd_issue_id || \"\" }}","type":"string"},{"id":"6","name":"pid","value":"={{ $node.Hook.json.body.bkd_project_id || \"workflowtest\" }}","type":"string"}]},"options":{}}},{"id":"cr","name":"Create","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.pid }}\",\"title\":\"[{{ $node.Ctx.json.rid }}] P1: {{ $node.Ctx.json.ttl }}\",\"statusId\":\"working\",\"useWorktree\":true,\"tags\":[\"p1\",\"{{ $node.Ctx.json.rid }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"fu","name":"Followup","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":10,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.pid }}\",\"issueId\":\"{{ $node.Ctx.json.bid }}\",\"prompt\":\"P1 issue created and executing.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":15000},"onError":"continueRegularOutput"}}],"connections":{"Hook":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"Ctx","type":"main","index":0}]]},"Ctx":{"main":[[{"node":"Create","type":"main","index":0}]]},"Create":{"main":[[{"node":"Followup","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}}