charts/n8n-workflows/v2-start.json
{"name":"V2 Start","nodes":[{"id":"t","name":"Hook","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"0b947cf9-8445-47d4-a4b1-82a20a5dfd10","position":[200,400],"parameters":{"httpMethod":"POST","path":"v2","responseMode":"onReceived","options":{}}},{"id":"i","name":"Init","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\": \"2.0\", \"id\": 0, \"method\": \"initialize\", \"params\": {\"protocolVersion\": \"2025-03-26\", \"capabilities\": {}, \"clientInfo\": {\"name\": \"n8n\", \"version\": \"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"c","name":"Ctx","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","value":"={{ $json.headers[\"mcp-session-id\"] }}","type":"string"},{"id":"2","name":"rid","value":"={{ $node.Hook.json.body.req_id || \"REQ-0\" }}","type":"string"},{"id":"3","name":"ttl","value":"={{ $node.Hook.json.body.title || \"untitled\" }}","type":"string"},{"id":"4","name":"desc","value":"={{ $node.Hook.json.body.description || \"\" }}","type":"string"},{"id":"5","name":"bid","value":"={{ $node.Hook.json.body.bkd_issue_id || \"\" }}","type":"string"},{"id":"6","name":"pid","value":"={{ $node.Hook.json.body.bkd_project_id || \"workflowtest\" }}","type":"string"}]},"options":{}}},{"id":"cr","name":"Create","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.pid }}\",\"title\":\"[{{ $node.Ctx.json.rid }}] P0\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"p0\",\"{{ $node.Ctx.json.rid }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"eid","name":"IID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node.Create.json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu","name":"Followup","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.pid }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"Requirement: {{ $node.Ctx.json.ttl }}\\nDescription: {{ $node.Ctx.json.desc }}\\n\\n## Task: P0 Contract Design\\n\\nDesign the OpenAPI 3.0+ contract for this requirement.\\n\\nYou MUST produce: contract.spec.yaml\\n\\nThe spec must include:\\n- All endpoint paths and HTTP methods\\n- Request body schemas (with required fields, types, constraints)\\n- Response body schemas (success + all error responses)\\n- Status codes and their meanings\\n- Example request/response pairs\\n\\nBe thorough. This contract is the single source of truth for all subsequent stages.\\nIf the requirement is ambiguous, note the ambiguity clearly in the spec comments.\\n\\nDo NOT write any implementation code or test code.\\nCommit contract.spec.yaml to the repo.\\n\\nCALLBACK: When you complete this task, POST to http://n8n.43.239.84.24.nip.io/webhook/v2-p0-done with JSON body containing: req_id, title, description, bkd_issue_id, bkd_project_id. Values: req_id={{ $node.Ctx.json.rid }}, title={{ $node.Ctx.json.ttl }}, bkd_issue_id={{ $node.Ctx.json.bid }}, bkd_project_id={{ $node.Ctx.json.pid }}. Do NOT skip the callback.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"ex","name":"Start","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.pid }}\",\"issueId\":\"{{ $node.IID.json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cb","name":"CB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":10,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.pid }}\",\"issueId\":\"{{ $node.Ctx.json.bid }}\",\"prompt\":\"P0 contract design dispatched. Agent designing OpenAPI spec.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":15000},"onError":"continueRegularOutput"}}],"connections":{"Hook":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"Ctx","type":"main","index":0}]]},"Ctx":{"main":[[{"node":"Create","type":"main","index":0}]]},"Create":{"main":[[{"node":"IID","type":"main","index":0}]]},"IID":{"main":[[{"node":"Followup","type":"main","index":0}]]},"Followup":{"main":[[{"node":"Start","type":"main","index":0}]]},"Start":{"main":[[{"node":"CB","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}}