charts/n8n-workflows/v3-entry.json
{"name":"V3 Entry","nodes":[{"id":"t","name":"Hook","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"e480f210-5874-4f5c-8b21-7ee59ab23e63","position":[200,400],"parameters":{"httpMethod":"POST","path":"v2","responseMode":"onReceived","options":{}}},{"id":"i","name":"Init","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\": \"2.0\", \"id\": 0, \"method\": \"initialize\", \"params\": {\"protocolVersion\": \"2025-03-26\", \"capabilities\": {}, \"clientInfo\": {\"name\": \"n8n\", \"version\": \"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"c","name":"Ctx","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","value":"={{ $json.headers[\"mcp-session-id\"] }}","type":"string"},{"id":"2","name":"reqId","value":"={{ $node.Hook.json.body.req_id || \"REQ-0\" }}","type":"string"},{"id":"3","name":"ttl","value":"={{ JSON.stringify($node.Hook.json.body.title || \"\").slice(1,-1) }}","type":"string"},{"id":"4","name":"desc","value":"={{ JSON.stringify($node.Hook.json.body.description || \"\").slice(1,-1) }}","type":"string"},{"id":"5","name":"parentId","value":"={{ $node.Hook.json.body.bkd_issue_id || \"\" }}","type":"string"},{"id":"6","name":"projectId","value":"={{ $node.Hook.json.body.bkd_project_id || \"workflowtest\" }}","type":"string"}]},"options":{}}},{"id":"cr_analyze","name":"Cr 需求分析","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 需求分析\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"analyze\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_analyze","name":"Id 需求分析","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 需求分析\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_analyze","name":"Fu 需求分析","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 需求分析\\n\\n## 需求上下文\\nREQ: {{ $node.Ctx.json.reqId }}\\nTitle: {{ $node.Ctx.json.ttl }}\\nDescription: {{ $node.Ctx.json.desc }}\\n\\n### Git Branch（每次从 main 重建，不用旧 branch 残留）\\n1. git fetch origin --prune\\n2. 本地/远程 feat/{{ $node.Ctx.json.reqId }} 若存在全部删掉：\\n   git branch -D feat/{{ $node.Ctx.json.reqId }} 2>/dev/null || true\\n   git push origin --delete feat/{{ $node.Ctx.json.reqId }} 2>/dev/null || true\\n3. 从 origin/main 建新分支：git checkout -b feat/{{ $node.Ctx.json.reqId }} origin/main\\n4. Do your work\\n5. git add . && git commit -m REQ-xx-commit\\n6. git push -u origin feat/{{ $node.Ctx.json.reqId }}\\n\\nUse /opsx:propose to decompose.\\n产出 openspec/changes/{{ $node.Ctx.json.reqId }}/：\\n- proposal.md：做什么、为什么\\n- specs/：capability 规格（后续验收测试依据）\\n- design.md：关键设计决策\\n**不要产出 tasks.md**（实现任务拆解归开发Spec阶段）。\\n另出 contract.spec.yaml（OpenAPI 3.0+）：所有 endpoint 路径、方法、schema、状态码、错误响应、示例。\\n\\n这份 openspec 文档是**所有后续 agent（Spec / Dev / Bug Fix）的唯一真相源**。写清楚、完备、无歧义。\\nDo NOT write code or tests. If ambiguous, STOP and ask. Commit and move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_analyze","name":"St 需求分析","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 需求分析\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}}],"connections":{"Hook":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"Ctx","type":"main","index":0}]]},"Ctx":{"main":[[{"node":"Cr 需求分析","type":"main","index":0}]]},"Cr 需求分析":{"main":[[{"node":"Id 需求分析","type":"main","index":0}]]},"Id 需求分析":{"main":[[{"node":"Fu 需求分析","type":"main","index":0}]]},"Fu 需求分析":{"main":[[{"node":"St 需求分析","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}}