charts/n8n-workflows/v3-events.json
{"name":"V3 BKD Events","nodes":[{"id":"t","name":"[ENTRY] Hook","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"b02404e7-1027-4349-8cfa-705f7bcee7e7","position":[200,1500],"parameters":{"httpMethod":"POST","path":"bkd-events","responseMode":"onReceived","options":{}}},{"id":"i","name":"[ENTRY] Init MCP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,1500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\": \"2.0\", \"id\": 0, \"method\": \"initialize\", \"params\": {\"protocolVersion\": \"2025-03-26\", \"capabilities\": {}, \"clientInfo\": {\"name\": \"n8n\", \"version\": \"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":1500},{"id":"c","name":"[ENTRY] Ctx 提取","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[950,1500],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","type":"string","value":"={{ $node[\"[ENTRY] Init MCP\"].json.headers[\"mcp-session-id\"] }}"},{"id":"2","name":"title","type":"string","value":"={{ $node[\"[ENTRY] Hook\"].json.body.title || \"\" }}"},{"id":"3","name":"issueId","type":"string","value":"={{ $node[\"[ENTRY] Hook\"].json.body.issueId || \"\" }}"},{"id":"4","name":"projectId","type":"string","value":"={{ $node[\"[ENTRY] Hook\"].json.body.projectId || \"\" }}"},{"id":"5","name":"reqId","type":"string","value":"={{ (() => { const t = (() => { const blob = String($node[\"[ENTRY] Get Issue\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) { const issue = JSON.parse(text); if (Array.isArray(issue.tags)) return issue.tags; } } catch (e) {} } return ($node[\"[ENTRY] Hook\"].json.body.tags || []); })(); const r = (t || []).find(x => typeof x === 'string' && /^REQ-[A-Za-z0-9]+$/.test(x)); if (r) return r; const m = ($node[\"[ENTRY] Hook\"].json.body.title || '').match(/\\[(REQ-[A-Za-z0-9]+)\\]/); return m ? m[1] : ''; })() }}"},{"id":"6","name":"prevIssueId","type":"string","value":"={{ $node[\"[ENTRY] Hook\"].json.body.issueId || \"\" }}"},{"id":"7","name":"tags","type":"string","value":"={{ JSON.stringify((() => { const blob = String($node[\"[ENTRY] Get Issue\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) { const issue = JSON.parse(text); if (Array.isArray(issue.tags)) return issue.tags; } } catch (e) {} } return ($node[\"[ENTRY] Hook\"].json.body.tags || []); })()) }}"},{"id":"8","name":"routeKey","type":"string","value":"={{ (() => { const t = (() => { const blob = String($node[\"[ENTRY] Get Issue\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) { const issue = JSON.parse(text); if (Array.isArray(issue.tags)) return issue.tags; } } catch (e) {} } return ($node[\"[ENTRY] Hook\"].json.body.tags || []); })(); if (t.includes('reviewer')) return 'reviewer'; if (t.includes('test-fix')) return 'test-fix'; if (t.includes('bugfix')) return 'bugfix'; if (t.includes('verify')) return 'verify'; if (t.includes('accept')) return 'accept'; if (t.includes('dev')) return 'dev'; if (t.some(x => typeof x === 'string' && x.endsWith('-spec'))) return 'spec'; if (t.includes('archive')) return 'archive'; if (t.includes('analyze')) return 'analyze'; return 'unknown'; })() }}"},{"id":"9","name":"resultKey","type":"string","value":"={{ (() => { const t = (() => { const blob = String($node[\"[ENTRY] Get Issue\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) { const issue = JSON.parse(text); if (Array.isArray(issue.tags)) return issue.tags; } } catch (e) {} } return ($node[\"[ENTRY] Hook\"].json.body.tags || []); })(); if (t.includes('decision:unsupported')) return 'unsupported'; if (t.includes('decision:needs-clarify')) return 'needs-clarify'; if (t.includes('diagnosis:test-bug')) return 'test-bug'; if (t.includes('diagnosis:spec-bug')) return 'spec-bug'; if (t.includes('result:pass')) return 'pass'; if (t.includes('result:fail')) return 'fail'; return ''; })() }}"},{"id":"10","name":"originalTitle","type":"string","value":"={{ ($node[\"[ENTRY] Hook\"].json.body.title || \"\").replace(/^(PASS|FAIL|TEST-BUG|SPEC-BUG|UNSUPPORTED|NEEDS-CLARIFY)\\s+/, \"\").replace(/^\\[REQ-[A-Za-z0-9]+\\]\\s*\\[[A-Z\\-]+\\]\\s*/, \"\").replace(/^\\[REQ-[A-Za-z0-9]+\\]\\s*/, \"\") }}"},{"id":"11","name":"priorStatusId","type":"string","value":"={{ (() => { const blob = String($node[\"[ENTRY] Get Issue\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) { const issue = JSON.parse(text); if (issue && issue.statusId) return issue.statusId; } } catch (e) {} } return ''; })() }}"}]},"options":{}},"notes":"从 webhook.body.tags 算 routeKey + resultKey + reqId\n核心路由依据，title 完全不参与","notesInFlow":false},{"id":"if0","name":"[ROUTE] Is 验收?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,200],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"equal","value2":"accept"}]}},"notes":"tags.includes(\"accept\")","notesInFlow":false},{"id":"if1","name":"[ROUTE] Is Bug Fix?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,800],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"regex","value2":"^(bugfix|test-bugfix)$"}]}},"notes":"routeKey ∈ {bugfix, test-bugfix}","notesInFlow":false},{"id":"if2","name":"[ROUTE] Is 测试验证?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,500],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"equal","value2":"verify"}]}},"notes":"tags.includes(\"verify\")","notesInFlow":false},{"id":"if3","name":"[ROUTE] Is 开发?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,1100],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"equal","value2":"dev"}]}},"notes":"tags.includes(\"dev\")（精确，不命中 dev-spec）","notesInFlow":false},{"id":"if4","name":"[ROUTE] Is Spec?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,2000],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"equal","value2":"spec"}]}},"notes":"任一 tag 以 -spec 结尾","notesInFlow":false},{"id":"if5","name":"[ROUTE] Is 需求分析?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,3000],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"equal","value2":"analyze"}]}},"notes":"tags.includes(\"analyze\")","notesInFlow":false},{"id":"cr_dev-spec","name":"[SPEC] Cr 开发Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,2300],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [DEV-SPEC] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"dev-spec\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"id":"id_dev-spec","name":"[SPEC] Id 开发Spec","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,2300],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ (() => { const blob = String($node[\"[SPEC] Cr 开发Spec\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}","type":"string"}]},"options":{}}},{"id":"fu_dev-spec","name":"[SPEC] Fu 开发Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,2300],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 开发 Spec\\n\\n## 需求上下文\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n详情见 openspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/proposal.md\\n\\n### Git Branch\\nAll work shares branch feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m REQ-xx-commit\\n6. git push origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\nPrevious agents pushed their work here.\\n\\n### 权威文档\\nopenspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/ 是本需求的**唯一真相源**，内含 proposal.md（做什么为什么）、specs/（验收规格）、design.md（关键决策）。contract.spec.yaml 是 API 契约。**动工前必须通读**，所有决策以文档为准，不许凭空发挥。\\n\\n通读 openspec + contract.spec.yaml，写 dev.spec.md：\\n- 文件结构（新增/修改哪些文件）\\n- 函数签名与职责\\n- 依赖项\\n- 错误处理策略\\n- 边界条件\\n- 存储/DB 需求（如有）\\n写到开发 agent 不用猜。Do NOT write code or tests. Commit and move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_dev-spec","name":"[SPEC] St 开发Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,2300],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[SPEC] Id 开发Spec\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cr_contract-spec","name":"[SPEC] Cr 契约测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,2500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [CONTRACT-SPEC] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"contract-spec\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"id":"id_contract-spec","name":"[SPEC] Id 契约测试Spec","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,2500],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ (() => { const blob = String($node[\"[SPEC] Cr 契约测试Spec\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}","type":"string"}]},"options":{}}},{"id":"fu_contract-spec","name":"[SPEC] Fu 契约测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,2500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 契约测试 Spec\\n\\n## 需求上下文\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n详情见 openspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/proposal.md\\n\\n### Git Branch\\nAll work shares branch feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m REQ-xx-commit\\n6. git push origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\nPrevious agents pushed their work here.\\n\\n### 权威文档\\nopenspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/ 是本需求的**唯一真相源**，内含 proposal.md（做什么为什么）、specs/（验收规格）、design.md（关键决策）。contract.spec.yaml 是 API 契约。**动工前必须通读**，所有决策以文档为准，不许凭空发挥。\\n\\n基于 contract.spec.yaml 写 contract_test.*：\\n- 请求 schema 校验（字段、类型、必填）\\n- 响应 schema 校验（字段、状态码）\\n- 错误响应校验（400/404/500）\\n- Content-Type 头\\n- 边界值\\n用 aissh-tao MCP (vm-node04) 校验测试文件能编译通过。\\n测试当前应当 FAIL（还没有实现），这是对的。Do NOT 写业务代码。\\n**测试文件 LOCKED，下一阶段起任何人不可修改**。Commit and move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_contract-spec","name":"[SPEC] St 契约测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,2500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[SPEC] Id 契约测试Spec\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cr_accept-spec","name":"[SPEC] Cr 验收测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,2700],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [ACCEPT-SPEC] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"accept-spec\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"id":"id_accept-spec","name":"[SPEC] Id 验收测试Spec","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,2700],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ (() => { const blob = String($node[\"[SPEC] Cr 验收测试Spec\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}","type":"string"}]},"options":{}}},{"id":"fu_accept-spec","name":"[SPEC] Fu 验收测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,2700],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 验收测试 Spec\\n\\n## 需求上下文\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n详情见 openspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/proposal.md\\n\\n### Git Branch\\nAll work shares branch feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m REQ-xx-commit\\n6. git push origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\nPrevious agents pushed their work here.\\n\\n### 权威文档\\nopenspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/ 是本需求的**唯一真相源**，内含 proposal.md（做什么为什么）、specs/（验收规格）、design.md（关键决策）。contract.spec.yaml 是 API 契约。**动工前必须通读**，所有决策以文档为准，不许凭空发挥。\\n\\n基于 openspec specs/ 写 acceptance_test.*：\\n- Given/When/Then 场景\\n- Happy path\\n- Error path（非法输入、not found 等）\\n- Edge cases（空数据、大 payload、并发）\\n用 aissh-tao MCP 校验编译通过。测试当前应当 FAIL。Do NOT 写业务代码。\\n**测试文件 LOCKED**。Commit and move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_accept-spec","name":"[SPEC] St 验收测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,2700],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[SPEC] Id 验收测试Spec\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"qry","name":"[DEV] Query specs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,2000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":10,\"method\":\"tools/call\",\"params\":{\"name\":\"list-issues\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"limit\":500}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}},"notes":"list-issues 准备给 AllSpecsReview? 算","notesInFlow":false},{"id":"chk","name":"[DEV] AllSpecsReview?","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,2000],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"ok","value":"={{ (() => { const blob = String($node[\"[DEV] Query specs\"].json.data || \"\"); let arr = []; for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) arr = JSON.parse(text); } catch (e) {} } const reqId = $node[\"[ENTRY] Ctx 提取\"].json.reqId; const mine = arr.filter(it => Array.isArray(it.tags) && it.tags.includes(reqId)); const analyze = mine.find(it => Array.isArray(it.tags) && it.tags.includes('analyze')); let layers = null; if (analyze && Array.isArray(analyze.tags)) { const ls = analyze.tags.filter(t => typeof t === 'string' && t.startsWith('layer:')).map(t => t.slice(6)); if (ls.length > 0) layers = ls; } if (!layers && analyze && typeof analyze.title === 'string') { const m = analyze.title.match(/layers:([a-z,]+)/); if (m) layers = m[1].split(',').filter(Boolean); } const expected = ['dev-spec', 'accept-spec']; if (layers === null || layers.includes('backend')) expected.push('contract-spec'); if (layers && layers.includes('frontend')) expected.push('ui-spec'); if (layers && layers.includes('data')) expected.push('migration-spec'); const allReview = expected.every(tag => mine.some(s => Array.isArray(s.tags) && s.tags.includes(tag) && (s.statusId === 'review' || s.statusId === 'done'))); const devExists = mine.some(s => Array.isArray(s.tags) && s.tags.includes('dev')); return (allReview && !devExists) ? 'yes' : 'no'; })() }}","type":"string"}]},"options":{}},"notes":"按 layers 算 expected specs；全 review + 没 dev → \"yes\"","notesInFlow":false},{"id":"gate","name":"[DEV] Gate","type":"n8n-nodes-base.if","typeVersion":1,"position":[1850,2000],"parameters":{"conditions":{"string":[{"value1":"={{ $json.ok }}","value2":"yes"}]}},"notes":"AllSpecsReview? == \"yes\" 才放行创 开发","notesInFlow":false},{"id":"cr_dev","name":"[DEV] Cr","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,2000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [DEV] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"dev\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"id":"id_dev","name":"[DEV] Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,2000],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ (() => { const blob = String($node[\"[DEV] Cr\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}","type":"string"}]},"options":{}}},{"id":"fu_dev","name":"[DEV] Fu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,2000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 开发 (DEV)\\n\\nAGENT_ROLE=dev-agent\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n\\n## 你的职责\\n- 读 openspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/* 全部文档（proposal/design/specs/contract.spec/tasks.md Stage:Dev）\\n- 读 LOCKED 测试 tests/contract/* tests/acceptance/* 但**禁止修改**\\n- 实现业务代码 + unit test\\n- **不要在本地跑任何测试**\\n\\n## 必须用 aissh-tao MCP 推到调试环境\\n- 写完一段 → mcp__aissh-tao__exec_run 把代码同步到 vm-node04\\n- BKD worktree 不运行业务代码，只编辑\\n- 跑测试是 verify-agent 的职责，dev 不跑\\n\\n## Git\\n1. git pull origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n2. 实现完所有 Stage:Dev tasks\\n3. ONE 干净 commit + push\\n4. move review\\n\\n禁改 contract_test.* / acceptance_test.* / openspec/specs/\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_dev","name":"[DEV] St","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,2000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[DEV] Id\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cr_verify","name":"[VERIFY] Cr","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,1100],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [VERIFY] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"verify\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"id":"id_verify","name":"[VERIFY] Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,1100],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ (() => { const blob = String($node[\"[VERIFY] Cr\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}","type":"string"}]},"options":{}}},{"id":"fu_verify","name":"[VERIFY] Fu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,1100],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 测试验证 (VERIFY)\\n\\nAGENT_ROLE=verify-agent\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n\\n## 你的职责\\n你是独立验证者。在 vm-node04 调试环境跑该 REQ 的 contract test，**禁修任何代码**。\\n\\n## 操作\\n1. git pull feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n2. 用 aissh-tao MCP on vm-node04 跑 contract test\\n3. 收集 pass/fail 结果\\n\\n## ⚠️ 完成时必须做（不做这一步整个 pipeline 卡住）\\n\\n**先 get-issue 拿当前 tags，然后 update-issue 写回新 tags 数组（保留原 tags 追加结果 tag）：**\\n\\n- 全 PASS：追加 `result:pass`\\n- 任一 FAIL：追加 `result:fail` 和 `level:Lx`（哪层挂的）\\n\\n示例（PASS）：\\n```\\nmcp__bkd__get-issue → 当前 tags=[verify, {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}]\\nmcp__bkd__update-issue(tags=[verify, {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}, result:pass])\\n```\\n\\n然后 move review。**没加 result tag 就 move review = bug，会让 pipeline 误路由**。\\n\\n## 详细报告\\n在 issue follow-up 里贴：每层 PASS/FAIL + 失败 test 名单 + 关键 stderr 行。\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_verify","name":"[VERIFY] St","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,1100],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[VERIFY] Id\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"pf","name":"[VERIFY] Pass?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,500],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.resultKey }}","operation":"equal","value2":"pass"}]}},"notes":"resultKey == \"pass\"（agent 加的 result:pass tag）","notesInFlow":false},{"id":"cr_accept","name":"[ACCEPT] Cr","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [ACCEPT] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"accept\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"id":"id_accept","name":"[ACCEPT] Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,500],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ (() => { const blob = String($node[\"[ACCEPT] Cr\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}","type":"string"}]},"options":{}}},{"id":"fu_accept","name":"[ACCEPT] Fu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 验收 (ACCEPT, e2e)\\n\\nAGENT_ROLE=accept-agent\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n\\n## 你的职责\\n在 ttpos-arch-lab ephemeral 环境跑端到端验收。\\n\\n## 操作\\n1. git pull origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n2. mcp__aissh-tao__exec_run 拉起 ttpos-arch-lab ephemeral env（含 Playwright/Android emulator/DB/被测服务）\\n3. 跑 tests/acceptance/* + tests/ui/* (如有)\\n4. 写 openspec/changes/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}/reports/qa.md（自包含证据：scenario matrix + 测试输出 + screenshot）\\n5. tear down 环境\\n\\n## 完成时必须\\n- 全 PASS：mcp__bkd__update-issue 追加 result:pass\\n- 任一 FAIL：追加 result:fail\\n- 漏加 = pipeline escalate\\n\\n## 当前限制\\nttpos-arch-lab 还没就绪。如果 mcp__aissh-tao__exec_run 拉不起环境 → 加 result:fail tag + comment 说明环境未就绪 + move review。**不要本地 build server 跑**——那是 verify 干的事。\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_accept","name":"[ACCEPT] St","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[ACCEPT] Id\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cbq","name":"[BUGFIX] CB Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,800],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":11,\"method\":\"tools/call\",\"params\":{\"name\":\"list-issues\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"limit\":500}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}},"notes":"list-issues 拿全 REQ 的 issue 状态","notesInFlow":false},{"id":"cbc","name":"[BUGFIX] CB Count","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,800],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"bugfixCount","value":"={{ (() => { const blob = String($node[\"[BUGFIX] CB Query\"].json.data || \"\"); let arr = []; for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) arr = JSON.parse(text); } catch (e) {} } const reqId = $node[\"[ENTRY] Ctx 提取\"].json.reqId; const mine = arr.filter(it => Array.isArray(it.tags) && it.tags.includes(reqId)); return mine.filter(s => Array.isArray(s.tags) && (s.tags.includes('bugfix') || s.tags.includes('test-bugfix'))).length; })() }}","type":"number"},{"id":"2","name":"round","value":"={{ (() => {\n  const blob = String($node[\"[BUGFIX] CB Query\"].json.data || '');\n  let arr = [];\n  for (const line of blob.split('\\n')) {\n    if (!line.startsWith('data: ')) continue;\n    try {\n      const obj = JSON.parse(line.slice(6));\n      const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text;\n      if (text) arr = JSON.parse(text);\n    } catch (e) {}\n  }\n  const reqId = $node[\"[ENTRY] Ctx 提取\"].json.reqId;\n  return arr.filter(it => Array.isArray(it.tags) && it.tags.includes(reqId) && it.tags.includes('bugfix')).length + 1;\n})() }}","type":"number"}]},"options":{}},"notes":"mine.filter(tags ⊇ {bugfix|test-bugfix}).length","notesInFlow":false},{"id":"cbif","name":"[BUGFIX] CB Tripped?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1850,800],"parameters":{"conditions":{"number":[{"value1":"={{ $json.bugfixCount }}","operation":"largerEqual","value2":3}]}},"notes":"bugfixCount >= 3 → escalate","notesInFlow":false},{"id":"esc","name":"[ESCALATE] Escalate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,1700],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":99,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.issueId }}\",\"prompt\":\"熔断升级\\nREQ {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} (issue {{ $node[\"[ENTRY] Ctx 提取\"].json.issueId }})\\nBug Fix 超过 3 轮仍未通过，自动修复失败。需要人工排查。\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":15000},"onError":"continueRegularOutput"},"notes":"熔断 / SPEC-BUG / UNSUPPORTED 共用出口\nfollow-up 通知人介入","notesInFlow":false},{"id":"cr_bugfix","name":"[BUGFIX] Cr","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,800],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [BUGFIX] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"bugfix\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"id":"id_bugfix","name":"[BUGFIX] Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,800],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ (() => { const blob = String($node[\"[BUGFIX] Cr\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}","type":"string"}]},"options":{}}},{"id":"fu_bugfix","name":"[BUGFIX] Fu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,800],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## BUGFIX: DEV-FIX (code 视角)\\n\\nAGENT_ROLE=dev-fix-agent\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n本轮 Round: {{ $node[\"[BUGFIX] CB Count\"].json.round }}\\n\\n## 你的职责\\n上一个 verify 或 accept 失败了。你是**code 视角**的修复 agent。\\n- **只能改 internal/ cmd/ 业务代码 + unit test**（同文件）\\n- **禁改 tests/contract/ tests/acceptance/ tests/ui/**（pre-commit 会拦）\\n- **禁改 openspec/**\\n\\n## 流程\\n1. git fetch && git checkout -b stage/bugfix-dev-{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}-round-{{ $node[\"[BUGFIX] CB Count\"].json.round }} origin/feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n2. 读上一个失败 issue 的 session log（get-issue-logs），搞清楚哪个 test 挂了为啥挂\\n3. 先诊断：\\n   - spec 清楚说行为 X，test 正确验 X，code 输出 Y → **CODE BUG**，改代码\\n   - test 验了 spec 没说的东西 / 断言错 / 竞态 → **TEST BUG**，**不改代码**，加 tag `diagnosis:test-bug` move review（test-fix agent 会接手）\\n   - spec 本身模糊/漏场景 → **SPEC BUG**，加 tag `diagnosis:spec-bug` move review（会升级人工）\\n4. CODE BUG 流程：\\n   - 用 aissh-tao MCP 推 vm-node04 跑原失败的 contract test，复现\\n   - 修业务代码，确保不改测试文件\\n   - 本分支 commit + push（**不 merge 到 feat，reviewer 决定**）\\n5. move review\\n\\n## ⚠️ 标签约束\\n- **不加 result:pass / result:fail**（result 只给 verify/accept）\\n- 诊断为 TEST BUG → 加 diagnosis:test-bug\\n- 诊断为 SPEC BUG → 加 diagnosis:spec-bug\\n- CODE BUG（默认）→ 不加 diagnosis tag\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_bugfix","name":"[BUGFIX] St","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,800],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[BUGFIX] Id\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"acpf","name":"[ACCEPT] Pass?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,200],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.resultKey }}","operation":"equal","value2":"pass"}]}},"notes":"resultKey == \"pass\"","notesInFlow":false},{"id":"if_unsupported","name":"[ANALYZE] Is UNSUPPORTED?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,3000],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.resultKey }}","operation":"regex","value2":"^(unsupported|needs-clarify)$"}]}},"notes":"resultKey ∈ {unsupported, needs-clarify} → escalate","notesInFlow":false},{"id":"if_spec_bug","name":"[ESCALATE] Is SPEC-BUG?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1700,1700],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.resultKey }}","operation":"equal","value2":"spec-bug"}]}},"notes":"resultKey == \"spec-bug\"（bugfix 诊断）→ escalate","notesInFlow":false},{"id":"sticky_0","name":"__sticky_0__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,1300],"parameters":{"content":"# V3 BKD Events\n\nBKD `session.completed` webhook → routeKey/resultKey 路由\n\n**所有判定走 tags，title 不参与**","height":200,"width":700,"color":1}},{"id":"sticky_1","name":"__sticky_1__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1050,100],"parameters":{"content":"## ROUTE\n\n按 routeKey 一级分流\n\n6 个 IF 节点","height":3050,"width":220,"color":4}},{"id":"sticky_2","name":"__sticky_2__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,100],"parameters":{"content":"## ✓ DONE\n\n验收 PASS → 完成","height":240,"width":1750,"color":5}},{"id":"sticky_3","name":"__sticky_3__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,400],"parameters":{"content":"## VERIFY PASS → 创验收\n\n测试验证 result:pass","height":240,"width":1750,"color":5}},{"id":"sticky_4","name":"__sticky_4__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,700],"parameters":{"content":"## BUG FIX 链\n\n验证/验收 FAIL → CB 熔断检查 → 创 Bug Fix","height":240,"width":1750,"color":6}},{"id":"sticky_5","name":"__sticky_5__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,1000],"parameters":{"content":"## VERIFY 重建\n\ndev / bugfix / test-bugfix 完成 → 重建测试验证","height":240,"width":1750,"color":5}},{"id":"sticky_6","name":"__sticky_6__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,1300],"parameters":{"content":"## TEST BUG FIX\n\nbugfix 诊断 = TEST-BUG → 创 Test Bug Fix","height":240,"width":1750,"color":3}},{"id":"sticky_7","name":"__sticky_7__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,1600],"parameters":{"content":"## SPEC BUG → ESCALATE\n\nbugfix 诊断 = SPEC-BUG → 升级人工","height":240,"width":1750,"color":2}},{"id":"sticky_8","name":"__sticky_8__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,1900],"parameters":{"content":"## DEV\n\nSpec gate (按 layers 算 expected) → 创开发","height":240,"width":1750,"color":5}},{"id":"sticky_9","name":"__sticky_9__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,2200],"parameters":{"content":"## SPEC FAN-OUT\n\n需求分析完成 → 3 路并行 Spec\n\n开发Spec / 契约测试Spec / 验收测试Spec\n\n（layers 字段决定 expected 数量）","height":700,"width":1750,"color":4}},{"id":"sticky_10","name":"__sticky_10__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,2900],"parameters":{"content":"## UNSUPPORTED\n\nanalyze 决议不支持 → escalate","height":240,"width":1750,"color":2}},{"id":"gi","name":"[ENTRY] Get Issue","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[725,1500],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":50,\"method\":\"tools/call\",\"params\":{\"name\":\"get-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Hook\"].json.body.projectId }}\",\"issueId\":\"{{ $node[\"[ENTRY] Hook\"].json.body.issueId }}\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $json.headers[\"mcp-session-id\"] }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":10000},"onError":"continueRegularOutput"},"notes":"BKD webhook payload 不带 tags，反查 issue 拿 tags 喂给 Ctx 算 routeKey/resultKey","notesInFlow":false},{"id":"lsi","name":"[ANALYZE] List Issues","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,3000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":99,\"method\":\"tools/call\",\"params\":{\"name\":\"list-issues\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"limit\":200}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}},"notes":"防 ANALYZE 重复触发：fan-out 前查 list-issues，已存在 spec issue 就跳过"},{"id":"nsy","name":"[ANALYZE] No Spec Yet?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1500,3000],"parameters":{"conditions":{"string":[{"value1":"={{ (() => { const blob = String($node[\"[ANALYZE] List Issues\"].json.data || \"\"); let arr = []; for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (text) arr = JSON.parse(text); } catch (e) {} } const reqId = $node[\"[ENTRY] Ctx 提取\"].json.reqId; const has = arr.some(s => Array.isArray(s.tags) && s.tags.includes(reqId) && s.tags.some(t => typeof t === 'string' && t.endsWith('-spec'))); return has ? \"no\" : \"yes\"; })() }}","operation":"equal","value2":"yes"}]}},"notes":"true (yes) = 没有任何 spec issue → 放行 fan-out；false (no) = 已存在 → 跳过避免重复","notesInFlow":false},{"id":"pf","name":"[ENTRY] Is My Project?","type":"n8n-nodes-base.if","typeVersion":1,"position":[320,1500],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Hook\"].json.body.projectId || \"\" }}","operation":"isNotEmpty"}]}},"notes":"过滤无效 webhook（缺 projectId）。任意有 projectId 的 BKD project 都接。","notesInFlow":false},{"id":"mpd","name":"[ENTRY] Mark Prev Done","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[950,1700],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":42,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.prevIssueId }}\",\"statusId\":\"done\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Init MCP\"].json.headers[\"mcp-session-id\"] }}"}]},"options":{"timeout":10000},"onError":"continueRegularOutput"},"notes":"事件来时把 prev issue 标 done（agent 已完成）。失败不阻塞流程。","notesInFlow":false},{"id":"vhf","name":"[VERIFY] HasFail?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,600],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.resultKey }}","operation":"equal","value2":"fail"}]}},"notes":"true=显式 fail → 走 BUGFIX；false=漏加 tag → escalate","notesInFlow":false},{"id":"ahf","name":"[ACCEPT] HasFail?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,200],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.resultKey }}","operation":"equal","value2":"fail"}]}},"notes":"true=显式 fail → 走 BUGFIX；false=漏加 tag → escalate","notesInFlow":false},{"id":"dcr","name":"[DONE] Cr","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,80],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [DONE] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"archive\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000}},"notes":"DONE 阶段：archive + PR"},{"id":"did","name":"[DONE] Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,80],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","type":"string","value":"={{ (() => { const blob = String($node[\"[DONE] Cr\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}"}]},"options":{}}},{"id":"dfu","name":"[DONE] Fu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,80],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## DONE 收尾 (ARCHIVE + PR)\\n\\nAGENT_ROLE=archive-agent\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n\\nACCEPT 已通过。请做收尾：\\n\\n1. cd feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} 分支（已包含全部实现 + tests）\\n2. 跑 `openspec apply {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}` 把 spec-delta 升级到 openspec/specs，change 归档到 openspec/changes/archive/\\n3. git add . && git commit -m \\\"archive: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\\"\\n4. git push origin feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n5. 用 gh CLI 提 PR：gh pr create --base master --head feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} --title \\\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\\\" --body \\\"sisyphus auto-pipeline\\\"\\n6. update-issue 追加 tag pr:<PR-编号>（如 pr:42）\\n7. 用 mcp__bkd__list-issues 找 tag=[analyze, {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] 的 ANALYZE 原 issue，follow-up-issue 通知人：REQ {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} 已完成，PR <URL>\\n8. move review\\n\\n完成后整个 sisyphus pipeline 结束。\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"dst","name":"[DONE] St","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,80],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[DONE] Id\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"ifs","name":"[ENTRY] Is Failed Session?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,1700],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Hook\"].json.body.event || \"\" }}","operation":"equal","value2":"session.failed"}]}},"notes":"BKD agent 自己挂了 → escalate（不进 routeKey 路由）"},{"id":"isr","name":"[ENTRY] Is Sisyphus REQ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[975,1700],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}","operation":"isNotEmpty"}]}},"notes":"只处理 sisyphus pipeline issue（含 REQ-* tag）。其它项目 issue 直接放过，不动 statusId"},{"id":"ap","name":"[ENTRY] Already Processed?","type":"n8n-nodes-base.if","typeVersion":1,"position":[975,1900],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.priorStatusId }}","operation":"equal","value2":"done"}]}},"notes":"防重发：source issue 已是 done → BKD 重发 session.completed，跳过所有下游处理"},{"id":"tfcr","name":"[TFIX] Cr","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [TEST-FIX] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"test-fix\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000}}},{"id":"tfid","name":"[TFIX] Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","type":"string","value":"={{ (() => { const blob = String($node[\"[TFIX] Cr\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}"}]},"options":{}}},{"id":"tffu","name":"[TFIX] Fu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## BUGFIX: TEST-FIX (test 视角)\\n\\nAGENT_ROLE=test-fix-agent\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n本轮 Round: {{ $node[\"[BUGFIX] CB Count\"].json.round }}\\n\\n## 你的职责\\n你是**test 视角**的修复 agent。上一个 dev-fix agent 刚试过从 code 视角修。你现在只能：\\n- **改 tests/** (contract/acceptance/unit 都可)\\n- **禁改 internal/ cmd/** 业务代码（pre-commit 会拦）\\n\\n## 流程\\n1. git fetch && git checkout -b stage/bugfix-test-{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}-round-{{ $node[\"[BUGFIX] CB Count\"].json.round }} origin/feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n2. 读 dev-fix issue 上的 diagnosis（get-issue 查上一个 bugfix 的 tags 和 follow-up）\\n3. 站 test 视角审视当前 contract test：\\n   - spec 说 X，test 是不是验了非 X？ → 改 test\\n   - test 有竞态/顺序依赖？ → 改 test\\n   - test 对 feature 没覆盖？ → 加 test\\n4. 用 aissh-tao MCP 推 vm-node04 跑 contract test\\n5. 本分支 commit + push (**不 merge 到 feat，reviewer 决定**)\\n\\n## 完成时约束\\n- 如果你判断 test 完全没问题，code 才是错的：**不改任何文件**，加 tag `diagnosis:code-bug` → move review\\n- 如果 spec 本身模糊：加 `diagnosis:spec-bug` → move review（reviewer 也会看到 → 可能 escalate）\\n- 正常改完：**不加 result tag**（result 只给 verify/accept）→ move review\\n\\n**不管结果如何都 move review**，下一步 reviewer 会来 judge 两个分支。\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"tfst","name":"[TFIX] St","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"rvcr","name":"[RVW] Cr","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,1000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}] [REVIEWER] {{ $node[\"[ENTRY] Ctx 提取\"].json.originalTitle }}\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"reviewer\",\"{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000}}},{"id":"rvid","name":"[RVW] Id","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,1000],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","type":"string","value":"={{ (() => { const blob = String($node[\"[RVW] Cr\"].json.data || ''); for (const line of blob.split('\\n')) { if (!line.startsWith('data: ')) continue; try { const obj = JSON.parse(line.slice(6)); const text = obj.result && obj.result.content && obj.result.content[0] && obj.result.content[0].text; if (!text) continue; const issue = JSON.parse(text); if (issue && issue.id) return issue.id; } catch (e) {} } return ''; })() }}"}]},"options":{}}},{"id":"rvfu","name":"[RVW] Fu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,1000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## BUGFIX: REVIEWER (裁判)\\n\\nAGENT_ROLE=reviewer-agent\\nREQ: {{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}\\n本轮 Round: {{ $node[\"[BUGFIX] CB Count\"].json.round }}\\n\\n## 你的职责\\n前两步：\\n- stage/bugfix-dev-{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}-round-N 分支：dev-fix agent 的改动（改 code）\\n- stage/bugfix-test-{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }}-round-N 分支：test-fix agent 的改动（改 test）\\n\\n你要：\\n1. git fetch origin\\n2. 对每个候选分支，cherry-pick 到 feat/{{ $node[\"[ENTRY] Ctx 提取\"].json.reqId }} 的临时分支 → 用 aissh-tao MCP 跑 contract test\\n3. 采纳规则：\\n   - 只 dev-fix 通过 → merge dev-fix 到 feat\\n   - 只 test-fix 通过 → merge test-fix 到 feat\\n   - 两边都通过 → 默认 merge dev-fix（优先改代码，不改契约）\\n   - 两边都不通过 → 不 merge，加 tag `result:fail` + 写 diff 对比报告\\n4. 加 tag：\\n   - merge 了 → `result:pass`\\n   - 都不通过 → `result:fail`\\n5. move review\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"rvst","name":"[RVW] St","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,1000],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx 提取\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx 提取\"].json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"rvp","name":"[RVW] Pass?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,1000],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.resultKey }}","operation":"equal","value2":"pass"}]}},"notes":"reviewer 采纳结果：pass→重跑 verify；其它→escalate"},{"id":"rtf","name":"[ROUTE] Is Test Fix?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,1400],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"equal","value2":"test-fix"}]}}},{"id":"rrv","name":"[ROUTE] Is Reviewer?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,1100],"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"[ENTRY] Ctx 提取\"].json.routeKey }}","operation":"equal","value2":"reviewer"}]}}}],"connections":{"[ENTRY] Hook":{"main":[[{"node":"[ENTRY] Is My Project?","type":"main","index":0}]]},"[ENTRY] Init MCP":{"main":[[{"node":"[ENTRY] Get Issue","type":"main","index":0}]]},"[ENTRY] Ctx 提取":{"main":[[{"node":"[ENTRY] Is Sisyphus REQ?","type":"main","index":0}]]},"[ROUTE] Is 验收?":{"main":[[{"node":"[ACCEPT] Pass?","type":"main","index":0}],[{"node":"[ROUTE] Is Bug Fix?","type":"main","index":0}]]},"[ROUTE] Is Bug Fix?":{"main":[[{"node":"[ESCALATE] Is SPEC-BUG?","type":"main","index":0}],[{"node":"[ROUTE] Is Test Fix?","type":"main","index":0}]]},"[ROUTE] Is 测试验证?":{"main":[[{"node":"[VERIFY] Pass?","type":"main","index":0}],[{"node":"[ROUTE] Is 开发?","type":"main","index":0}]]},"[ROUTE] Is 开发?":{"main":[[{"node":"[VERIFY] Cr","type":"main","index":0}],[{"node":"[ROUTE] Is Spec?","type":"main","index":0}]]},"[ROUTE] Is Spec?":{"main":[[{"node":"[DEV] Query specs","type":"main","index":0}],[{"node":"[ROUTE] Is 需求分析?","type":"main","index":0}]]},"[ROUTE] Is 需求分析?":{"main":[[{"node":"[ANALYZE] Is UNSUPPORTED?","type":"main","index":0}],[]]},"[SPEC] Cr 开发Spec":{"main":[[{"node":"[SPEC] Id 开发Spec","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[SPEC] Id 开发Spec":{"main":[[{"node":"[SPEC] Fu 开发Spec","type":"main","index":0}]]},"[SPEC] Fu 开发Spec":{"main":[[{"node":"[SPEC] St 开发Spec","type":"main","index":0}]]},"[SPEC] Cr 契约测试Spec":{"main":[[{"node":"[SPEC] Id 契约测试Spec","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[SPEC] Id 契约测试Spec":{"main":[[{"node":"[SPEC] Fu 契约测试Spec","type":"main","index":0}]]},"[SPEC] Fu 契约测试Spec":{"main":[[{"node":"[SPEC] St 契约测试Spec","type":"main","index":0}]]},"[SPEC] Cr 验收测试Spec":{"main":[[{"node":"[SPEC] Id 验收测试Spec","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[SPEC] Id 验收测试Spec":{"main":[[{"node":"[SPEC] Fu 验收测试Spec","type":"main","index":0}]]},"[SPEC] Fu 验收测试Spec":{"main":[[{"node":"[SPEC] St 验收测试Spec","type":"main","index":0}]]},"[DEV] Query specs":{"main":[[{"node":"[DEV] AllSpecsReview?","type":"main","index":0}]]},"[DEV] AllSpecsReview?":{"main":[[{"node":"[DEV] Gate","type":"main","index":0}]]},"[DEV] Gate":{"main":[[{"node":"[DEV] Cr","type":"main","index":0}],[]]},"[DEV] Cr":{"main":[[{"node":"[DEV] Id","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[DEV] Id":{"main":[[{"node":"[DEV] Fu","type":"main","index":0}]]},"[DEV] Fu":{"main":[[{"node":"[DEV] St","type":"main","index":0}]]},"[VERIFY] Cr":{"main":[[{"node":"[VERIFY] Id","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[VERIFY] Id":{"main":[[{"node":"[VERIFY] Fu","type":"main","index":0}]]},"[VERIFY] Fu":{"main":[[{"node":"[VERIFY] St","type":"main","index":0}]]},"[VERIFY] Pass?":{"main":[[{"node":"[ACCEPT] Cr","type":"main","index":0}],[{"node":"[VERIFY] HasFail?","type":"main","index":0}]]},"[ACCEPT] Cr":{"main":[[{"node":"[ACCEPT] Id","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[ACCEPT] Id":{"main":[[{"node":"[ACCEPT] Fu","type":"main","index":0}]]},"[ACCEPT] Fu":{"main":[[{"node":"[ACCEPT] St","type":"main","index":0}]]},"[BUGFIX] CB Query":{"main":[[{"node":"[BUGFIX] CB Count","type":"main","index":0}]]},"[BUGFIX] CB Count":{"main":[[{"node":"[BUGFIX] CB Tripped?","type":"main","index":0}]]},"[BUGFIX] CB Tripped?":{"main":[[{"node":"[ESCALATE] Escalate","type":"main","index":0}],[{"node":"[BUGFIX] Cr","type":"main","index":0}]]},"[BUGFIX] Cr":{"main":[[{"node":"[BUGFIX] Id","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[BUGFIX] Id":{"main":[[{"node":"[BUGFIX] Fu","type":"main","index":0}]]},"[BUGFIX] Fu":{"main":[[{"node":"[BUGFIX] St","type":"main","index":0}]]},"[ACCEPT] Pass?":{"main":[[{"node":"[DONE] Cr","type":"main","index":0}],[{"node":"[ACCEPT] HasFail?","type":"main","index":0}]]},"[ANALYZE] Is UNSUPPORTED?":{"main":[[{"node":"[ESCALATE] Escalate","type":"main","index":0}],[{"node":"[ANALYZE] List Issues","type":"main","index":0}]]},"[ESCALATE] Is SPEC-BUG?":{"main":[[{"node":"[ESCALATE] Escalate","type":"main","index":0}],[{"node":"[TFIX] Cr","type":"main","index":0}]]},"[ENTRY] Get Issue":{"main":[[{"node":"[ENTRY] Ctx 提取","type":"main","index":0}]]},"[SPEC] St 开发Spec":{"main":[[{"node":"[SPEC] Cr 契约测试Spec","type":"main","index":0}]]},"[SPEC] St 契约测试Spec":{"main":[[{"node":"[SPEC] Cr 验收测试Spec","type":"main","index":0}]]},"[ANALYZE] List Issues":{"main":[[{"node":"[ANALYZE] No Spec Yet?","type":"main","index":0}]]},"[ANALYZE] No Spec Yet?":{"main":[[{"node":"[SPEC] Cr 开发Spec","type":"main","index":0}],[]]},"[ENTRY] Is My Project?":{"main":[[{"node":"[ENTRY] Init MCP","type":"main","index":0}],[]]},"[ENTRY] Mark Prev Done":{"main":[[{"node":"[ENTRY] Is Failed Session?","type":"main","index":0}]]},"[VERIFY] HasFail?":{"main":[[{"node":"[BUGFIX] CB Query","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[ACCEPT] HasFail?":{"main":[[{"node":"[BUGFIX] CB Query","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]},"[ENTRY] Is Failed Session?":{"main":[[{"node":"[ESCALATE] Escalate","type":"main","index":0}],[{"node":"[ROUTE] Is 验收?","type":"main","index":0}]]},"[DONE] Cr":{"main":[[{"node":"[DONE] Id","type":"main","index":0}]]},"[DONE] Id":{"main":[[{"node":"[DONE] Fu","type":"main","index":0}]]},"[DONE] Fu":{"main":[[{"node":"[DONE] St","type":"main","index":0}]]},"[ENTRY] Is Sisyphus REQ?":{"main":[[{"node":"[ENTRY] Already Processed?","type":"main","index":0}],[]]},"[ENTRY] Already Processed?":{"main":[[],[{"node":"[ENTRY] Mark Prev Done","type":"main","index":0}]]},"[TFIX] Cr":{"main":[[{"node":"[TFIX] Id","type":"main","index":0}]]},"[TFIX] Id":{"main":[[{"node":"[TFIX] Fu","type":"main","index":0}]]},"[TFIX] Fu":{"main":[[{"node":"[TFIX] St","type":"main","index":0}]]},"[RVW] Cr":{"main":[[{"node":"[RVW] Id","type":"main","index":0}]]},"[RVW] Id":{"main":[[{"node":"[RVW] Fu","type":"main","index":0}]]},"[RVW] Fu":{"main":[[{"node":"[RVW] St","type":"main","index":0}]]},"[ROUTE] Is Test Fix?":{"main":[[{"node":"[RVW] Cr","type":"main","index":0}],[{"node":"[ROUTE] Is Reviewer?","type":"main","index":0}]]},"[ROUTE] Is Reviewer?":{"main":[[{"node":"[RVW] Pass?","type":"main","index":0}],[{"node":"[ROUTE] Is 测试验证?","type":"main","index":0}]]},"[RVW] Pass?":{"main":[[{"node":"[VERIFY] Cr","type":"main","index":0}],[{"node":"[ESCALATE] Escalate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"knxUfdS3vLu1boOd"},"id":"9bwIamlT6Y09Psgr"}