charts/n8n-workflows/v3-entry.json
{"name":"V3 Entry","settings":{"executionOrder":"v1"},"nodes":[{"id":"hk","name":"[ENTRY] Hook (issue.updated)","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"c13f8bcf-ea3c-4386-968c-112b8342c13a","position":[200,400],"parameters":{"httpMethod":"POST","path":"bkd-issue-updated","responseMode":"onReceived","options":{}},"notes":"BKD issue.updated 事件入口。任何 issue 改动都进。","notesInFlow":false},{"id":"ft","name":"[ENTRY] Has intent:analyze?","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,400],"parameters":{"conditions":{"string":[{"value1":"={{ (() => { const c = $node[\"[ENTRY] Hook (issue.updated)\"].json.body.changes || {}; const tagsStr = c.tag; if (!tagsStr) return \"no\"; let tags; try { tags = JSON.parse(tagsStr); } catch (e) { return \"no\"; } if (!Array.isArray(tags)) return \"no\"; if (!tags.includes(\"intent:analyze\")) return \"no\"; if (tags.includes(\"analyze\")) return \"no\"; return \"yes\"; })() }}","operation":"equal","value2":"yes"}]}},"notes":"幂等：只有用户本次 update 把 intent:analyze 加进去时才触发。BKD 后续改 tag 不会含此 trigger。","notesInFlow":false},{"id":"in","name":"[ENTRY] Init MCP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"initialize\",\"params\":{\"protocolVersion\":\"2025-03-26\",\"capabilities\":{},\"clientInfo\":{\"name\":\"n8n\",\"version\":\"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"cx","name":"[ENTRY] Ctx","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","type":"string","value":"={{ $json.headers[\"mcp-session-id\"] }}"},{"id":"2","name":"issueId","type":"string","value":"={{ $node[\"[ENTRY] Hook (issue.updated)\"].json.body.issueId || $node[\"[ENTRY] Hook (issue.updated)\"].json.body.id || \"\" }}"},{"id":"3","name":"projectId","type":"string","value":"={{ $node[\"[ENTRY] Hook (issue.updated)\"].json.body.projectId || \"\" }}"},{"id":"4","name":"issueNumber","type":"string","value":"={{ String($node[\"[ENTRY] Hook (issue.updated)\"].json.body.issueNumber || \"0\") }}"},{"id":"5","name":"reqId","type":"string","value":"={{ \"REQ-\" + ($node[\"[ENTRY] Hook (issue.updated)\"].json.body.issueNumber || \"0\") }}"},{"id":"6","name":"originalTitle","type":"string","value":"={{ ($node[\"[ENTRY] Hook (issue.updated)\"].json.body.title || \"\").replace(/^\\[REQ-\\d+\\]\\s*\\[[A-Z\\-]+\\]\\s*/, \"\").replace(/^\\[REQ-\\d+\\]\\s*/, \"\") }}"},{"id":"7","name":"currentTagsJson","type":"string","value":"={{ JSON.stringify($node[\"[ENTRY] Hook (issue.updated)\"].json.body.tags || []) }}"}]},"options":{}},"notes":"reqId = REQ-{issueNumber}（BKD 自增）；originalTitle = 用户原标题","notesInFlow":false},{"id":"ut","name":"[ENTRY] Update title+tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1150,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[ENTRY] Ctx\"].json.issueId }}\",\"title\":\"[{{ $node[\"[ENTRY] Ctx\"].json.reqId }}] [ANALYZE] {{ $node[\"[ENTRY] Ctx\"].json.originalTitle }}\",\"tags\":[\"analyze\",\"{{ $node[\"[ENTRY] Ctx\"].json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx\"].json.sid }}"}]},"options":{"timeout":15000}},"notes":"替换 title 加 [REQ-n][ANALYZE] 前缀；tags 替换为 [analyze, REQ-n]（移除 intent:analyze 防重触发）","notesInFlow":false},{"id":"fu","name":"[ENTRY] Send analyze prompt","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx\"].json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 需求分析 (ANALYZE)\\n\\nAGENT_ROLE=analyze-agent\\nREQ: {{ $node[\"[ENTRY] Ctx\"].json.reqId }}\\n\\n本 issue 之前的对话已包含用户原始需求，请先通读完整 session。\\n\\n## 项目可能含多 repo\\n本 BKD project 可能挂了多个 git 仓库（如 ttpos-server-go + ttpos-flutter）。先识别本 REQ 涉及哪些仓库。\\n\\n## 产出（OpenSpec 4 件套 + 契约）\\n\\n1. **openspec/changes/{{ $node[\"[ENTRY] Ctx\"].json.reqId }}/proposal.md** —— 需求 + 为什么 + 涉及哪些仓库 + 涉及哪些服务\\n2. **openspec/changes/{{ $node[\"[ENTRY] Ctx\"].json.reqId }}/design.md** —— 设计权衡、关键决策\\n3. **openspec/changes/{{ $node[\"[ENTRY] Ctx\"].json.reqId }}/specs/*.md** —— capability spec，每 scenario `## Scenario: FEATURE-S{N} ...`\\n4. **openspec/changes/{{ $node[\"[ENTRY] Ctx\"].json.reqId }}/contract.spec.{ext}** —— **契约：服务对外承诺**\\n   - 单仓库一份，文件名 contract.spec.<ext>\\n   - 形态自由：HTTP 服务用 OpenAPI yaml；DB schema 改动用 SQL；Flutter app 写『屏列表+API依赖』 markdown；cron job 写 schedule 描述\\n   - 关键：能让其它服务知道怎么跟它交互，能指导集成测试写什么\\n5. **openspec/changes/{{ $node[\"[ENTRY] Ctx\"].json.reqId }}/tasks.md** (骨架) —— 等 dev-spec agent 补\\n\\n## Git Branch\\n1. git fetch origin --prune\\n2. git branch -D feat/{{ $node[\"[ENTRY] Ctx\"].json.reqId }} 2>/dev/null || true\\n3. git push origin --delete feat/{{ $node[\"[ENTRY] Ctx\"].json.reqId }} 2>/dev/null || true\\n4. git checkout -b feat/{{ $node[\"[ENTRY] Ctx\"].json.reqId }} origin/master\\n\\n## 完成时（必做，不做则 pipeline 卡）\\n- 涉及哪些 layer：mcp__bkd__update-issue 追加 layer:* tag（如 layer:backend / layer:frontend / layer:data；多个仓库都涉及就都加）\\n- 不支持/需澄清：追加 decision:unsupported 或 decision:needs-clarify tag（pipeline 自动 escalate 给人）\\n- move review\\n\\nDo NOT write code or tests. If ambiguous, STOP and 加 decision:needs-clarify。详见 docs/prompts.md。\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx\"].json.sid }}"}]},"options":{"timeout":15000}}},{"id":"st","name":"[ENTRY] Trigger agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1650,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node[\"[ENTRY] Ctx\"].json.projectId }}\",\"issueId\":\"{{ $node[\"[ENTRY] Ctx\"].json.issueId }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node[\"[ENTRY] Ctx\"].json.sid }}"}]},"options":{"timeout":15000},"onError":"continueRegularOutput"}},{"id":"sticky_t","name":"__title__","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,200],"parameters":{"content":"# V3 Entry\n\nBKD `issue.updated` → 检测 `intent:analyze` tag → 启动 ANALYZE\n\n**幂等**：处理后立刻替换 tag 为 `analyze`，重复事件不再触发\n\n**title 格式**：`[REQ-n] [PHASE] 用户原标题`","height":200,"width":1700,"color":4}}],"connections":{"[ENTRY] Hook (issue.updated)":{"main":[[{"node":"[ENTRY] Has intent:analyze?","type":"main","index":0}]]},"[ENTRY] Has intent:analyze?":{"main":[[{"node":"[ENTRY] Init MCP","type":"main","index":0}],[]]},"[ENTRY] Init MCP":{"main":[[{"node":"[ENTRY] Ctx","type":"main","index":0}]]},"[ENTRY] Ctx":{"main":[[{"node":"[ENTRY] Update title+tags","type":"main","index":0}]]},"[ENTRY] Update title+tags":{"main":[[{"node":"[ENTRY] Send analyze prompt","type":"main","index":0}]]},"[ENTRY] Send analyze prompt":{"main":[[{"node":"[ENTRY] Trigger agent","type":"main","index":0}]]}}}