charts/n8n-workflows/v3-entry.json
{"name":"V3 Entry","nodes":[{"id":"t","name":"Hook","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"e6512f08-05ce-453a-b16e-a97dc38558f8","position":[200,400],"parameters":{"httpMethod":"POST","path":"v2","responseMode":"onReceived","options":{}}},{"id":"i","name":"Init","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\": \"2.0\", \"id\": 0, \"method\": \"initialize\", \"params\": {\"protocolVersion\": \"2025-03-26\", \"capabilities\": {}, \"clientInfo\": {\"name\": \"n8n\", \"version\": \"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"c","name":"Ctx","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","value":"={{ $json.headers[\"mcp-session-id\"] }}","type":"string"},{"id":"2","name":"reqId","value":"={{ $node.Hook.json.body.req_id || \"REQ-0\" }}","type":"string"},{"id":"3","name":"ttl","value":"={{ $node.Hook.json.body.title || \"\" }}","type":"string"},{"id":"4","name":"desc","value":"={{ $node.Hook.json.body.description || \"\" }}","type":"string"},{"id":"5","name":"parentId","value":"={{ $node.Hook.json.body.bkd_issue_id || \"\" }}","type":"string"},{"id":"6","name":"projectId","value":"={{ $node.Hook.json.body.bkd_project_id || \"workflowtest\" }}","type":"string"}]},"options":{}}},{"id":"cr_analyze","name":"Cr 需求分析","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 需求分析\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"analyze\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_analyze","name":"Id 需求分析","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 需求分析\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_analyze","name":"Fu 需求分析","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 需求分析\\n\\nRequirement: {{ $node.Ctx.json.ttl }}\\nDescription: {{ $node.Ctx.json.desc }}\\n\\nUse /opsx:propose to decompose. Design API contract. Output contract.spec.yaml.\\nDo NOT write code or tests.\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nCommit openspec artifacts + contract.spec.yaml. If ambiguous, STOP and ask. Move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_analyze","name":"St 需求分析","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 需求分析\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}}],"connections":{"Hook":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"Ctx","type":"main","index":0}]]},"Ctx":{"main":[[{"node":"Cr 需求分析","type":"main","index":0}]]},"Cr 需求分析":{"main":[[{"node":"Id 需求分析","type":"main","index":0}]]},"Id 需求分析":{"main":[[{"node":"Fu 需求分析","type":"main","index":0}]]},"Fu 需求分析":{"main":[[{"node":"St 需求分析","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}}