charts/n8n-workflows/v3-events.json
{"name":"V3 BKD Events","nodes":[{"id":"t","name":"Hook","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"d404e79f-2a62-4079-9aa8-47b16efa382b","position":[200,400],"parameters":{"httpMethod":"POST","path":"bkd-events","responseMode":"onReceived","options":{}}},{"id":"i","name":"Init","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\": \"2.0\", \"id\": 0, \"method\": \"initialize\", \"params\": {\"protocolVersion\": \"2025-03-26\", \"capabilities\": {}, \"clientInfo\": {\"name\": \"n8n\", \"version\": \"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"c","name":"Ctx","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","value":"={{ $json.headers[\"mcp-session-id\"] }}","type":"string"},{"id":"2","name":"title","value":"={{ $node.Hook.json.body.title || \"\" }}","type":"string"},{"id":"3","name":"issueId","value":"={{ $node.Hook.json.body.issueId || \"\" }}","type":"string"},{"id":"4","name":"projectId","value":"={{ $node.Hook.json.body.projectId || \"\" }}","type":"string"},{"id":"5","name":"reqId","value":"={{ ($node.Hook.json.body.title || \"\").match(/\\[([^\\]]+)\\]/)?.[1] || \"\" }}","type":"string"},{"id":"6","name":"event","value":"={{ $node.Hook.json.body.event || \"\" }}","type":"string"},{"id":"7","name":"prevIssueId","value":"={{ $node.Hook.json.body.issueId || \"\" }}","type":"string"}]},"options":{}}},{"id":"if0","name":"Is 验收?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,200],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"验收"}]}}},{"id":"if1","name":"Is Bug Fix?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,280],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"Bug Fix"}]}}},{"id":"if2","name":"Is 测试验证?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,360],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"测试验证"}]}}},{"id":"if3","name":"Is 开发?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,440],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"开发"}]}}},{"id":"if4","name":"Is Spec?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,520],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"Spec"}]}}},{"id":"if5","name":"Is 需求分析?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,600],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"需求分析"}]}}},{"id":"cr_dev-spec","name":"Cr 开发Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,680],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 开发Spec\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"dev-spec\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_dev-spec","name":"Id 开发Spec","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,680],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 开发Spec\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_dev-spec","name":"Fu 开发Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,680],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 开发 Spec\\n\\nRead openspec artifacts and contract.spec.yaml.\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nWrite dev.spec.md: file structure, function signatures, dependencies, error handling, edge cases.\\nDo NOT write code or tests. Commit and move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_dev-spec","name":"St 开发Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,680],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 开发Spec\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cr_contract-spec","name":"Cr 契约测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,760],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 契约测试Spec\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"contract-spec\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_contract-spec","name":"Id 契约测试Spec","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,760],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 契约测试Spec\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_contract-spec","name":"Fu 契约测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,760],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 契约测试 Spec\\n\\nRead contract.spec.yaml.\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nWrite contract_test.* — schema validation, status codes, required fields.\\nUse aissh MCP (server vm-node04) to verify compilation.\\nTests should fail now (no impl). Do NOT write business code.\\nCommit and move to review. LOCKED after this stage.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_contract-spec","name":"St 契约测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,760],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 契约测试Spec\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cr_accept-spec","name":"Cr 验收测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,840],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 验收测试Spec\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"accept-spec\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_accept-spec","name":"Id 验收测试Spec","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,840],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 验收测试Spec\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_accept-spec","name":"Fu 验收测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,840],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 验收测试 Spec\\n\\nRead openspec specs/.\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nWrite acceptance_test.* — Given/When/Then, happy path + error + edge cases.\\nUse aissh MCP to verify compilation.\\nTests should fail now. Do NOT write business code.\\nCommit and move to review. LOCKED after this stage.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_accept-spec","name":"St 验收测试Spec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,840],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 验收测试Spec\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"qry","name":"Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,520],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":10,\"method\":\"tools/call\",\"params\":{\"name\":\"list-issues\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"limit\":100}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"chk","name":"All3?","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,520],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"ok","value":"={{ (String($node.Query.json.data || \"\").match(/dev-spec/g) || []).length > 0 && (String($node.Query.json.data || \"\").match(/contract-spec/g) || []).length > 0 && (String($node.Query.json.data || \"\").match(/accept-spec/g) || []).length > 0 && !String($node.Query.json.data || \"\").includes(\"\\\"statusId\\\":\\\"todo\\\",\\\"issueNumber\\\":\" ) ? \"yes\" : \"no\" }}","type":"string"}]},"options":{}}},{"id":"gate","name":"Gate","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,520],"parameters":{"conditions":{"string":[{"value1":"={{ $json.ok }}","value2":"yes"}]}}},{"id":"cr_dev","name":"Cr 开发","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,520],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 开发\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"dev\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_dev","name":"Id 开发","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,520],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 开发\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_dev","name":"Fu 开发","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,520],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 开发\\n\\nRead dev.spec.md, contract_test.*, acceptance_test.*.\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nWrite implementation + unit tests.\\n\\n1. Read specs and tests\\n2. Write full implementation\\n3. Write unit tests\\n4. Use aissh MCP on vm-node04 to verify:\\n   - L0 lint/compile, L1 unit, L2 contract, L3 acceptance\\n5. If fail, fix and re-run locally (iterate, no commits yet)\\n6. ALL pass → ONE clean commit → push → move to review\\n\\nRULES: Do NOT modify contract_test.* or acceptance_test.* (LOCKED). One commit only.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_dev","name":"St 开发","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2200,520],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 开发\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cr_verify","name":"Cr 测试验证","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,360],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 测试验证\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"verify\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_verify","name":"Id 测试验证","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,360],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 测试验证\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_verify","name":"Fu 测试验证","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,360],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 测试验证\\n\\nYou are an independent verifier.\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nAfter checking out branch:\\n1. aissh MCP exec_run: L0 lint/compile\\n2. aissh MCP exec_run: L1 unit tests\\n3. aissh MCP exec_run: L2 contract tests\\n4. aissh MCP exec_run: L3 acceptance tests\\n\\nDo NOT modify any code. Report each layer PASS/FAIL with output.\\nIf all PASS: put PASS in title. If any FAIL: put FAIL in title with which layer.\\nMove to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_verify","name":"St 测试验证","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,360],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 测试验证\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"pf","name":"Pass?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1000,280],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"PASS"}]}}},{"id":"cr_accept","name":"Cr 验收","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,240],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 验收\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"accept\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_accept","name":"Id 验收","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,240],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 验收\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_accept","name":"Fu 验收","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,240],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 验收\\n\\nYou are an independent tester with NO dev context.\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nUse aissh MCP on vm-node04:\\n1. Build and deploy the service\\n2. Run acceptance_test.*\\n3. Record evidence\\n\\nDo NOT modify anything.\\nIf all PASS: put PASS in title. If FAIL: put FAIL in title.\\nMove to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_accept","name":"St 验收","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,240],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 验收\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"cbq","name":"CB Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,380],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":11,\"method\":\"tools/call\",\"params\":{\"name\":\"list-issues\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"limit\":100}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"cbc","name":"CB Count","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,380],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"bugfixCount","value":"={{ (String($node[\"CB Query\"].json.data || \"\").match(new RegExp(\"\\\"bugfix\\\".*?\" + $node.Ctx.json.reqId, \"g\")) || []).length }}","type":"number"}]},"options":{}}},{"id":"cbif","name":"CB Tripped?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1600,380],"parameters":{"conditions":{"number":[{"value1":"={{ $json.bugfixCount }}","operation":"largerEqual","value2":3}]}}},{"id":"esc","name":"Escalate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,320],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":99,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node.Ctx.json.issueId }}\",\"prompt\":\"__ESC__\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":15000},"onError":"continueRegularOutput"}},{"id":"cr_bugfix","name":"Cr Bug Fix","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,440],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] Bug Fix\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"bugfix\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id_bugfix","name":"Id Bug Fix","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,440],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr Bug Fix\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu_bugfix","name":"Fu Bug Fix","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2200,440],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## Bug Fix\\n\\nPrevious issue {{ $node.Ctx.json.prevIssueId }} had test failures.\\nRead its last turn log to understand the failures:\\n  Use BKD MCP get-issue-logs(issueId={{ $node.Ctx.json.prevIssueId }}, lastTurn=true)\\n\\n### Git Branch (critical)\\nAll work for this REQ shares branch feat/{{ $node.Ctx.json.reqId }}:\\n1. git fetch origin\\n2. git checkout feat/{{ $node.Ctx.json.reqId }} (create from main if not exists)\\n3. git pull origin feat/{{ $node.Ctx.json.reqId }} || true\\n4. Do your work\\n5. git add . && git commit -m \\\"[{{ $node.Ctx.json.reqId }}] your message\\\"\\n6. git push origin feat/{{ $node.Ctx.json.reqId }}\\n\\nThis accumulates work from all agents. Previous agents pushed their work here.\\n\\nFix the failing implementation code using aissh MCP on vm-node04 to verify.\\nDo NOT modify contract_test.* or acceptance_test.* (LOCKED).\\nWhen all tests pass, ONE commit → push → move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st_bugfix","name":"St Bug Fix","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,440],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id Bug Fix\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"done","name":"Done","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":99,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node.Ctx.json.issueId }}\",\"prompt\":\"Pipeline complete. All stages passed.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":15000},"onError":"continueRegularOutput"}}],"connections":{"Hook":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"Ctx","type":"main","index":0}]]},"Ctx":{"main":[[{"node":"Is 验收?","type":"main","index":0}]]},"Is 验收?":{"main":[[{"node":"Done","type":"main","index":0}],[{"node":"Is Bug Fix?","type":"main","index":0}]]},"Is Bug Fix?":{"main":[[{"node":"Cr 测试验证","type":"main","index":0}],[{"node":"Is 测试验证?","type":"main","index":0}]]},"Is 测试验证?":{"main":[[{"node":"Pass?","type":"main","index":0}],[{"node":"Is 开发?","type":"main","index":0}]]},"Is 开发?":{"main":[[{"node":"Cr 测试验证","type":"main","index":0}],[{"node":"Is Spec?","type":"main","index":0}]]},"Is Spec?":{"main":[[{"node":"Query","type":"main","index":0}],[{"node":"Is 需求分析?","type":"main","index":0}]]},"Is 需求分析?":{"main":[[{"node":"Cr 开发Spec","type":"main","index":0},{"node":"Cr 契约测试Spec","type":"main","index":0},{"node":"Cr 验收测试Spec","type":"main","index":0}],[]]},"Cr 开发Spec":{"main":[[{"node":"Id 开发Spec","type":"main","index":0}]]},"Id 开发Spec":{"main":[[{"node":"Fu 开发Spec","type":"main","index":0}]]},"Fu 开发Spec":{"main":[[{"node":"St 开发Spec","type":"main","index":0}]]},"Cr 契约测试Spec":{"main":[[{"node":"Id 契约测试Spec","type":"main","index":0}]]},"Id 契约测试Spec":{"main":[[{"node":"Fu 契约测试Spec","type":"main","index":0}]]},"Fu 契约测试Spec":{"main":[[{"node":"St 契约测试Spec","type":"main","index":0}]]},"Cr 验收测试Spec":{"main":[[{"node":"Id 验收测试Spec","type":"main","index":0}]]},"Id 验收测试Spec":{"main":[[{"node":"Fu 验收测试Spec","type":"main","index":0}]]},"Fu 验收测试Spec":{"main":[[{"node":"St 验收测试Spec","type":"main","index":0}]]},"Query":{"main":[[{"node":"All3?","type":"main","index":0}]]},"All3?":{"main":[[{"node":"Gate","type":"main","index":0}]]},"Gate":{"main":[[{"node":"Cr 开发","type":"main","index":0}],[]]},"Cr 开发":{"main":[[{"node":"Id 开发","type":"main","index":0}]]},"Id 开发":{"main":[[{"node":"Fu 开发","type":"main","index":0}]]},"Fu 开发":{"main":[[{"node":"St 开发","type":"main","index":0}]]},"Cr 测试验证":{"main":[[{"node":"Id 测试验证","type":"main","index":0}]]},"Id 测试验证":{"main":[[{"node":"Fu 测试验证","type":"main","index":0}]]},"Fu 测试验证":{"main":[[{"node":"St 测试验证","type":"main","index":0}]]},"Pass?":{"main":[[{"node":"Cr 验收","type":"main","index":0}],[{"node":"CB Query","type":"main","index":0}]]},"Cr 验收":{"main":[[{"node":"Id 验收","type":"main","index":0}]]},"Id 验收":{"main":[[{"node":"Fu 验收","type":"main","index":0}]]},"Fu 验收":{"main":[[{"node":"St 验收","type":"main","index":0}]]},"CB Query":{"main":[[{"node":"CB Count","type":"main","index":0}]]},"CB Count":{"main":[[{"node":"CB Tripped?","type":"main","index":0}]]},"CB Tripped?":{"main":[[{"node":"Escalate","type":"main","index":0}],[{"node":"Cr Bug Fix","type":"main","index":0}]]},"Cr Bug Fix":{"main":[[{"node":"Id Bug Fix","type":"main","index":0}]]},"Id Bug Fix":{"main":[[{"node":"Fu Bug Fix","type":"main","index":0}]]},"Fu Bug Fix":{"main":[[{"node":"St Bug Fix","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}}