charts/n8n-workflows/v3-events.json
{"name":"V3 BKD Events","nodes":[{"id":"t","name":"Hook","type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"f949ad24-442b-4251-b9c3-8ee80d161a91","position":[200,400],"parameters":{"httpMethod":"POST","path":"bkd-events","responseMode":"onReceived","options":{}}},{"id":"i","name":"Init","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\": \"2.0\", \"id\": 0, \"method\": \"initialize\", \"params\": {\"protocolVersion\": \"2025-03-26\", \"capabilities\": {}, \"clientInfo\": {\"name\": \"n8n\", \"version\": \"1.0\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":15000}}},{"id":"c","name":"Ctx","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,400],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"sid","value":"={{ $json.headers[\"mcp-session-id\"] }}","type":"string"},{"id":"2","name":"title","value":"={{ $node.Hook.json.body.title || \"\" }}","type":"string"},{"id":"3","name":"issueId","value":"={{ $node.Hook.json.body.issueId || \"\" }}","type":"string"},{"id":"4","name":"projectId","value":"={{ $node.Hook.json.body.projectId || \"\" }}","type":"string"},{"id":"5","name":"reqId","value":"={{ ($node.Hook.json.body.title || \"\").match(/\\[([^\\]]+)\\]/)?.[1] || \"\" }}","type":"string"},{"id":"6","name":"parentId","value":"={{ $node.Hook.json.body.bkd_issue_id || \"\" }}","type":"string"}]},"options":{}}},{"id":"if0","name":"Is 验收?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,300],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"验收"}]}}},{"id":"done","name":"Done","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,300],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":99,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node.Ctx.json.parentId }}\",\"prompt\":\"All 5 stages complete. Pipeline finished.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":15000},"onError":"continueRegularOutput"}},{"id":"if1","name":"Is 测试验证?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,380],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"测试验证"}]}}},{"id":"cr1","name":"Cr 验收","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,380],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 验收\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"accept\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id1","name":"Id 验收","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,380],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 验收\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu1","name":"Fu 验收","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,380],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 验收\\n\\nYou are an independent tester.\\nDeploy full service, run acceptance_test.*.\\nRecord evidence. Do NOT modify anything.\\nMove to review with pass/fail report.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st1","name":"St 验收","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,380],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 验收\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"if2","name":"Is 开发?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,460],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"开发"}]}}},{"id":"cr2","name":"Cr 测试验证","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,460],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 测试验证\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"verify\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id2","name":"Id 测试验证","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,460],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 测试验证\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu2","name":"Fu 测试验证","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,460],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 测试验证\\n\\nPull latest code. Run ALL tests:\\n- L0: lint/compile\\n- L1: unit tests\\n- L2: contract tests\\n- L3: acceptance tests\\n\\nDo NOT modify code. Report results.\\nMove to review with pass/fail.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st2","name":"St 测试验证","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,460],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 测试验证\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"if3","name":"Is 测试编写?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,540],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"测试编写"}]}}},{"id":"cr3","name":"Cr 开发","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,540],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 开发\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"dev\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id3","name":"Id 开发","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,540],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 开发\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu3","name":"Fu 开发","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,540],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 开发实现\\n\\nRead openspec artifacts and test files.\\nWrite business code to make ALL tests pass.\\nWrite unit tests.\\nDo NOT modify contract_test.* or acceptance_test.* (LOCKED).\\nCommit and push. Move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st3","name":"St 开发","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,540],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 开发\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"if4","name":"Is 需求分析?","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,620],"parameters":{"conditions":{"string":[{"value1":"={{ $node.Ctx.json.title }}","operation":"contains","value2":"需求分析"}]}}},{"id":"cr4","name":"Cr 测试编写","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,620],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"create-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"title\":\"[{{ $node.Ctx.json.reqId }}] 测试编写\",\"statusId\":\"todo\",\"useWorktree\":true,\"tags\":[\"test-write\",\"{{ $node.Ctx.json.reqId }}\"]}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"id4","name":"Id 测试编写","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,620],"parameters":{"mode":"manual","duplicateItem":false,"includeOtherFields":false,"assignments":{"assignments":[{"id":"1","name":"iid","value":"={{ String($node[\"Cr 测试编写\"].json.data || \"\").match(/id[^a-z]*([a-z0-9]{8})/)?.[1] || \"\" }}","type":"string"}]},"options":{}}},{"id":"fu4","name":"Fu 测试编写","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,620],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"tools/call\",\"params\":{\"name\":\"follow-up-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $json.iid }}\",\"prompt\":\"## 测试编写\\n\\nRead openspec artifacts and contract.spec.yaml.\\n\\nWrite TWO sets of executable tests:\\n1. contract_test.* - API schema validation\\n2. acceptance_test.* - Given/When/Then scenarios\\n\\nDo NOT write business code. Tests should fail (no impl yet).\\nThese files are LOCKED after this stage.\\nWhen done, move to review.\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}},{"id":"st4","name":"St 测试编写","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,620],"parameters":{"method":"POST","url":"https://bkd-launcher--admin-jbcnet--weifashi.coder.tbc.5ok.co/api/mcp","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":3,\"method\":\"tools/call\",\"params\":{\"name\":\"update-issue\",\"arguments\":{\"projectId\":\"{{ $node.Ctx.json.projectId }}\",\"issueId\":\"{{ $node[\"Id 测试编写\"].json.iid }}\",\"statusId\":\"working\"}}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/event-stream"},{"name":"Coder-Session-Token","value":"GRvtsFrbNV-7fX1P2rwfDRKwnmXsSYQEn"},{"name":"Mcp-Session-Id","value":"={{ $node.Ctx.json.sid }}"}]},"options":{"timeout":30000},"onError":"continueRegularOutput"}}],"connections":{"Ctx":{"main":[[{"node":"Is 验收?","type":"main","index":0}]]},"Hook":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"Ctx","type":"main","index":0}]]},"Is 验收?":{"main":[[{"node":"Done","type":"main","index":0}],[{"node":"Is 测试验证?","type":"main","index":0}]]},"Is 测试验证?":{"main":[[{"node":"Cr 验收","type":"main","index":0}],[{"node":"Is 开发?","type":"main","index":0}]]},"Cr 验收":{"main":[[{"node":"Id 验收","type":"main","index":0}]]},"Id 验收":{"main":[[{"node":"Fu 验收","type":"main","index":0}]]},"Fu 验收":{"main":[[{"node":"St 验收","type":"main","index":0}]]},"Is 开发?":{"main":[[{"node":"Cr 测试验证","type":"main","index":0}],[{"node":"Is 测试编写?","type":"main","index":0}]]},"Cr 测试验证":{"main":[[{"node":"Id 测试验证","type":"main","index":0}]]},"Id 测试验证":{"main":[[{"node":"Fu 测试验证","type":"main","index":0}]]},"Fu 测试验证":{"main":[[{"node":"St 测试验证","type":"main","index":0}]]},"Is 测试编写?":{"main":[[{"node":"Cr 开发","type":"main","index":0}],[{"node":"Is 需求分析?","type":"main","index":0}]]},"Cr 开发":{"main":[[{"node":"Id 开发","type":"main","index":0}]]},"Id 开发":{"main":[[{"node":"Fu 开发","type":"main","index":0}]]},"Fu 开发":{"main":[[{"node":"St 开发","type":"main","index":0}]]},"Is 需求分析?":{"main":[[{"node":"Cr 测试编写","type":"main","index":0}],[]]},"Cr 测试编写":{"main":[[{"node":"Id 测试编写","type":"main","index":0}]]},"Id 测试编写":{"main":[[{"node":"Fu 测试编写","type":"main","index":0}]]},"Fu 测试编写":{"main":[[{"node":"St 测试编写","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}}